extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Корпоративное управление

			li.breadcrumb
				.breadcrumb-link Аудит и контроль





	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				h1 Аудит и контроль




				p
					a(href="https://seligdar.ru/upload/investors/results-and-reports/Seligdar_2022_Annual_Report_rus.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 181-182



				h2 Состав Ревизионной комиссии ПАО «Селигдар» по состоянию на 31 декабря 2022 года

				ul
					li Книс Д. А.
					li Кошелев В. П.
					li Окунева Г. В.



				//.simple-table-wrap
					table.simple-table.simple-table--td-minw-200
						tbody
							tr.simple-table__blue-row
								td
									p Ф. И. О.
								td
									p Основное место работы и должность
							tr
								td
									p Книс Д. А.
								td
									p Начальник планово-экономического отдела ПАО «Селигдар»
							tr
								td
									p Кошелев В. П.
								td
									p Советник Генерального директора по финансовой деятельности ПАО «Русолово»
							tr
								td
									p Окунева Г. В.
								td
									p
										| Начальник отдела сводного финансового планирования, отчетности и анализа ПАО «Селигдар»

				p
					b Внешний аудит осуществляет ООО «Р.О.С.ЭКСПЕРТИЗА»
				hr
				p
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")   Положение об отделе внутреннего аудита

				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/sistema-komplaens.html")   Система комплаенс