extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Акционерный капитал

			li.breadcrumb
				.breadcrumb-link Ценные бумаги и структура акционерного капитала



	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				.page-top-pic
					img(src="img/strategiya-ustojchivogo-razvitiya.jpg", alt="")

				h1 Ценные бумаги и структура акционерного капитала


				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 188-189



				p В 2022 году в результате размещения дополнительных обыкновенных акций в количестве 37 645 270 штук по закрытой подписке в пользу ООО «Максимус» и АО «Трежери Инвест» уставный капитал ПАО «Селигдар» увеличился с 992 354 730 руб. до 1 030 000 000 руб.
				p На 31 декабря 2022 года уставный капитал ПАО «Селигдар» составлял 1 030 000 000 (Один миллиард тридцать миллионов) руб. Обществом размещено 1 030 000 000 (Один миллиард тридцать миллионов) штук обыкновенных именных акций номинальной стоимостью 1 (Один) руб. каждая.
				p Обыкновенные акции ПАО «Селигдар» обращаются на Московской Бирже (SELG, ISIN RU000A0JPR50), входят в Индекс широкого рынка, Индекс металлов и добычи, Индекс средней и малой капитализации, Национальный индекс корпоративного управления.
				p С 29 июля обыкновенные акции ПАО «Селигдар» переведены в котировальный список Первого уровня Московской Биржи.
				p
					b Динамика изменений в реестре акционеров ПАО «Селигдар»

				.simple-pic
					img(src="img/6.1.png", alt="")

				h2 Структура акционерного капитала ПАО «Селигдар»<br> (по данным реестра на 31.12.2022)


				.simple-table-wrap
					table.simple-table.simple-table--td-minw-200

						tbody
							tr
								td
									p
										| Общее количество счетов — владельцев акций Общества, с учетом раскрытых клиентов номинальных держателей
								td
									p 70 193
							tr
								td
									p Количество размещенных голосующих акций с разбивкой по категориям (типам) акций
								td
									p 1 030 000 000 обыкновенных акций
							tr
								td
									p Количество акций, находящихся в распоряжении Общества
								td
									p 0
							tr
								td
									p
										| Количество акций, находящихся в распоряжении подконтрольных Обществу юридических лиц
								td
									p 0

				p
					b  Акционеры, владеющие пятью и более процентами уставного капитала или обыкновенных акций Общества
					| <br> по состоянию на 31.12.2022

				.simple-pic
					img(src="img/6.1.2.png", alt="")
