extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Акционерный капитал

			li.breadcrumb
				h1.breadcrumb-link Дивидендная политика




	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				p
					b Дивидендная политика


				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 190-191


				.simple-pic.simple-pic--w500
					img(src="img/6.1.3.jpg", alt="")

				p
					b Принципы действующей дивидендной политики:
				ul
					li соблюдение норм действующего законодательства Российской Федерации и Устава Общества
					li стремление соответствовать высоким стандартам корпоративного управления
					li обеспечение заинтересованности менеджмента и акционеров в повышении прибыльности Общества
					li оптимальное сочетание краткосрочных и долгосрочных интересов Общества и его акционеров
					li повышение инвестиционной привлекательности Общества и его капитализации
					li обеспечение максимальной прозрачности механизма определения размера дивидендов, порядка и сроков их выплаты
					li уважение и строгое соблюдение прав акционеров, предусмотренных действующим законодательством Российской Федерации.
				p Действующее
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")  Положение о дивидендной политике ПАО «Селигдар»
					|  определяет подход к определению размера дивидендов и порядка их выплаты, а также возможные ограничения на выплату дивидендов, что способствует повышению прозрачности процесса принятия решений о дивидендных выплатах. В 2022 году Компания не вносила изменений в Положение о дивидендной политике.
				p В соответствии со статьей 42 Федерального закона «Об акционерных обществах» источником выплаты дивидендов является чистая прибыль Компании за соответствующий период, определенная по данным бухгалтерской отчетности, составленной в соответствии с российскими стандартами.
				p Компания может принимать решение о выплате дивидендов по результатам первого квартала, полугодия, девяти месяцев и (или) по результатам отчетного года.
				p Согласно действующей дивидендной политике при принятии решения об осуществлении дивидендных выплат Компания учитывает размер чистой прибыли, определенной в соответствии с Международными стандартами финансовой отчетности (МСФО). В частности, Компания стремится направлять на выплату дивидендов по обыкновенным и привилегированным акциям не менее 30 % годовой консолидированной чистой прибыли, определяемой в соответствии с МСФО.
				p При определении рекомендуемого размера дивидендов Совет директоров принимает во внимание финансовые результаты деятельности Компании, размер прибыли, направленной на реализацию проектов развития, социальных и иных проектов, а также иные факторы, которые могут оказать влияние на принятие обоснованного решения.
				p В связи с конвертацией привилегированных акций ПАО «Селигдар» в обыкновенные акции на внеочередном Общем собрании акционеров, состоявшемся 10 марта 2022 года, было принято решение о расформировании специального фонда для выплаты дивидендов по привилегированным акциям ПАО «Селигдар» в размере 675 млн руб. и направлении этих денежных средств фонда в увеличение нераспределенной прибыли прошлых лет.
				p На годовом Общем собрании акционеров, состоявшемся 10 июня 2022 года, было принято решение о выплате дивидендов по акциям ПАО «Селигдар» в размере 4,50 руб. на одну обыкновенную акцию ПАО «Селигдар», в общем размере 4 465 596 285 руб. Источники выплаты дивидендов:
				ul
					li чистая прибыль по результатам 2021 отчетного года;
					li нераспределенная прибыль прошлых лет, включающая в том числе средства ранее расформированного специального фонда для выплаты дивидендов по привилегированным акциям.
				p Дивидендная доходность обыкновенных акций, рассчитанная как отношение суммы дивидендов за отчетный год к средней цене акций за отчетный год, за 2021 год составила 9,3 %.

				hr
				p
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")  Положение о дивидендной политике ПАО «Селигдар»
