extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Стратегический отчет
			li.breadcrumb
				.breadcrumb-link Финансовые результаты



	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content
				.page-top-pic
					img(src="img/new-pics/finansovye-rezultaty.jpg", alt="")

				h1  Финансовые результаты
				h2 Ключевые показатели консолидированной отчетности по МСФО


				.simple-table-wrap
					table.simple-table.simple-table--only-horis-borders.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap

						tbody
							tr.simple-table__blue-row
								td
									p
										b млн руб.
								td
									p
										b 2020
								td
									p
										b 2021
								td
									p
										b 2022
								td
									p
										b Изменение 2022/2021,%
							tr
								td
									p Выручка от реализации
								td
									p 33 314
								td
									p 35 616
								td
									p 34 722
								td
									p -3
							tr
								td
									p Валовая прибыль
								td
									p 14 589
								td
									p 16 927
								td
									p 10 973
								td
									p -35
							tr
								td
									p Валовая рентабельность
								td
									p 43,8%
								td
									p 47,5%
								td
									p 31,6%
								td
									p -15.9 п. п
							tr
								td
									p EBITDA
								td
									p 14 507
								td
									p 19 242
								td
									p 11 831
								td
									p -39
							tr
								td
									p Рентабельность по EBITDA
								td
									p 43,5%
								td
									p 54,0%
								td
									p 34,1%
								td
									p -19.9 п. п.
							tr
								td
									p EBITDA банковская
								td
									p 15 662
								td
									p 20 208
								td
									p 13 521
								td
									p -33
							tr
								td
									p Чистая прибыль
								td
									p 4
								td
									p 10 398
								td
									p 4 143
								td
									p -60
							tr
								td
									p Чистая прибыль, приходящаяся на акционеров материнской компании
								td
									p 241
								td
									p 10 081
								td
									p 4 795
								td
									p -52
							tr
								td
									p Чистая прибыль за вычетом курсовых разниц
								td
									p 11 708
								td
									p 9 074
								td
									p 1 297
								td
									p -86



				p Консолидированная выручка ПАО «Селигдар» по МСФО за 12 месяцев 2022 года составила 34 722 млн руб. по сравнению с 35 616 млн руб., полученных в январе–декабре 2021 года, снижение год-к-году 3%. Несмотря на неординарность сложившейся на рынке ситуации, компания выполнила планы по производству металлов и, скорректировав политику продаж, минимально отклонилась от выручки прошлого года. Положительным фактором в 2022 году являлось увеличение количественных показателей реализации металлов в натуральном выражении: реализовано 7 239 кг золота (+11% год-к-году), 9,94 тыс. т концентратов (+37% год-к-году), в том числе: оловянного 5,97 тыс. т, медного 3,86 тыс. т, концентрата, содержащего вольфрам, 0,1 тыс. т.
				p В 2022 году существенно поменялась структура реализации золота. Сложившиеся обстоятельства привели к тому, что компании пришлось перейти к поиску новых каналов сбыта, так как конъюнктура постепенно менялась. За прошедший год количество каналов сбыта производимой продукции существенно расширилось. На внутреннем рынке были подписаны соглашения с рядом ювелирных компаний, расширена линейка банков-контрагентов, выстроена инфраструктура для реализации металла на Московской Бирже. Компания возобновила участие в аукционах Гохрана. Также компания оформила лицензии на экспорт золота и выстроила каналы продаж на внешних рынках. Покупателями выступали аффинажные и торговые компании. Большая часть металла была реализована в IV квартале, когда цена была оптимальна с экономической точки зрения.
				p Средняя цена реализации золота за 12 месяцев 2022 года составила 3 687 рублей за грамм, при этом реализация в счет погашения займа, номинированного в золоте, происходила по средней цене 3 534 рубля за грамм, а реализация покупателям по средней цене 3 723 рубля за грамм. В 2021 году продажи осуществлялись по средней цене 4 233 рубля за грамм, снижение на 13% год-к-году в 2022 году произошло на фоне мировых колебаний цены на золото и укрепления национальной валюты. В 2022 году был реализован весь доступный для продажи объем золота.
				p Реализация оловянного и медного концентратов в 2022 году производилась главным образом на территории Российской Федерации, на экспорт уходили только те объемы, которые не находили покупателя внутри страны. Реализация вольфрамового концентрата осуществлялась на внутреннем рынке. Экспортные отгрузки составили 43% от общего объема концентратов. Цены на оловянный и медный концентраты в 2022 году определялись на основании официальных котировок металлического олова и меди на Лондонской бирже металлов и снизились относительного предыдущего года на 11% и 19% соответственно. Средняя цена реализации вольфрамового концентрата превысила показатель 2021 года на 19%.

				h2 Анализ выручки

				.simple-table-wrap
					table.simple-table.simple-table--only-horis-borders.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap

						tbody
							tr.simple-table__blue-row
								td
									p
										b млн руб.
								td
									p
										b 2020
								td
									p
										b 2021
								td
									p
										b 2022
								td
									p
										b Изменение 2022/2021,%
							tr
								td
									p Объем реализации золота, кг
								td
									p 6 340
								td
									p 6 520
								td
									p 7 239
								td
									p 11
							tr
								td
									p Средняя цена реализации золота, руб./г
								td
									p 4 262
								td
									p 4 233
								td
									p 3 687
								td
									p -13
							tr
								td
									p Выручка от реализации золота, млн руб.
								td
									p 27 022
								td
									p 27 604
								td
									p 26 687
								td
									p -3
							tr
								td
									p Объем реализации оловянного концентрата, тыс. т
								td
									p 4,6
								td
									p 5,4
								td
									p 5,97
								td
									p 10
							tr
								td
									p Средняя цена реализации оловянного концентрата, тыс. руб./т
								td
									p 573
								td
									p 1 040
								td
									p 922
								td
									p -11
							tr
								td
									p Выручка от реализации оловянного концентрата, млн руб.
								td
									p 2 647
								td
									p 5 665
								td
									p 5 503
								td
									p -3
							tr
								td
									p Объем реализации медного концентрата, тыс. т
								td
									p 0,6
								td
									p 1,7
								td
									p 3,86
								td
									p 127
							tr
								td
									p Средняя цена реализации медного концентрата, тыс. руб./т
								td
									p 90
								td
									p 142
								td
									p 115
								td
									p -19
							tr
								td
									p Выручка от реализации медного концентрата, млн руб.
								td
									p 54
								td
									p 242
								td
									p 443
								td
									p 83
							tr
								td
									p Объем реализации вольфрамового концентрата, тыс. т
								td
									p 0,1
								td
									p 0,1
								td
									p 0,1
								td
									p 1
							tr
								td
									p Средняя цена реализации вольфрамового концентрата, тыс. руб./т
								td
									p 490
								td
									p 400
								td
									p 492
								td
									p 23
							tr
								td
									p Выручка от реализации вольфрамового концентрата, млн руб.
								td
									p
										em 62
								td
									p 41
								td
									p 51
								td
									p 24
							tr
								td
									p Выручка от прочей реализации, млн руб.
								td
									p 3 529
								td
									p 2 064
								td
									p 2 037
								td
									p -1



				p
					b Структура выручки за 2022 год

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.1.png", alt="")

				p Выручка от прочей реализации, представляющая собой преимущественно услуги по добыче руды и прочие услуги, оказанные АО «Лунное», и реализацию серебра, составила в 2022 году 2 037 млн руб. при выручке 2021 года в 2 064 млн руб.
				p По итогам года Группой* получена чистая прибыль в размере 4 143 млн руб., прочий совокупный доход, представленный положительной переоценкой лицензий на добычу золота и олова, составил 7 617 млн руб., общий совокупный доход — 11 760 млн руб.
				p Базовая прибыль на акцию составила 4,78 руб. по сравнению с 11,91 годом ранее, разводняющий эффект в обоих периодах отсутствовал.
				p Анализ изменения выручки от реализации золота в 2022 году, млрд руб.

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.2.png", alt="")

				h2 Расходы и рентабельность

				p
					b Себестоимость продаж


				.simple-table-wrap
					table.simple-table.simple-table--only-horis-borders.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap
						tbody
							tr.simple-table__blue-row
								td
									p
										b млн. руб.
								td
									p
										b 2020
								td
									p
										b 2021
								td
									p
										b 2022
								td
									p
										b Изменение 2022/2021, %
							tr
								td
									p Операционные расходы
								td
									p 16 639
								td
									p 20 837
								td
									p 24 405
								td
									p 17
							tr
								td
									p Расходы на оплату труда
								td
									p 4 184
								td
									p 4 813
								td
									p 5 778
								td
									p 20
							tr
								td
									p Материалы и запасные части
								td
									p 3 237
								td
									p 3 539
								td
									p 5 495
								td
									p 55
							tr
								td
									p Топливо и электроэнергия  
								td
									p 1 884
								td
									p 2 263
								td
									p 2 960
								td
									p 31
							tr
								td
									p Налог на добычу полезных ископаемых
								td
									p 1 049
								td
									p 1 066
								td
									p 1 469
								td
									p 38
							tr
								td
									p Услуги сторонних организаций
								td
									p 6 285
								td
									p 9 156
								td
									p 7 703
								td
									p -5
							tr
								td
									p Амортизация, не включая амортизацию лицензий
								td
									p 1 708
								td
									p 2 378
								td
									p 2 928
								td
									p 23
							tr
								td
									p Изменение запасов металлов на стадии переработки и готовой продукции
								td
									p (364)
								td
									p (7 582)
								td
									p (6 475)
								td
									p -15
							tr
								td
									p Итого себестоимость
								td
									p 17 983
								td
									p 15 633
								td
									p 20 858
								td
									p 33

				.after-table-text
					p
						i * Под Группой понимается ПАО «Селигдар» и его дочерние компании, показатели которых входят в консолидированную отчетность по МСФО.

				p Операционные расходы в 2022 году выросли на 17% относительно прошлого года и составили 24 405 млн руб., себестоимость реализованной продукции увеличилась на 33%.
				p Наибольший вес — 36% — в структуре расходов занимают услуги сторонних организаций, привлекаемых на подрядные работы, и расходы на оплату труда — 24%. Снижение услуг сторонних организаций связано со снижением объемов добычи руды в золотодобывающем дивизионе и переработкой в текущем периоде созданных ранее запасов. Рост расходов на оплату труда обусловлен ежегодной индексацией оплат работников производства и укомплектацией штата.
				p Расходы на материалы в 2022 году увеличились на 55% в основном за счет повышения их стоимости на рынке.
				p В 2022 году начислено налога на добычу полезных ископаемых 1 469 млн руб. против 1 066 млн руб. годом ранее, увеличение составило 38%, основной причиной является выход ООО «Рябиновое» из реестра участников регионального инвестиционного проекта, дающего право на применение пониженных налоговых ставок. Компании Группы исчисляют налог на добычу полезных ископаемых (НДПИ) по ставкам, установленным Налоговым кодексом Российской Федерации, в зависимости от вида добываемого полезного ископаемого. В анализируемых периодах добытое золото облагалось по ставке 6%, серебро — 6,5%.
				p Компании Группы, являющиеся участниками региональных инвестиционных проектов, реализовали свое право на применение пониженных налоговых ставок по НДПИ. ООО «Самолазовское» в 2022 и 2021 годах применяло ставку 0% в отношении добытого золота и серебра из сульфидных руд. ООО «Артель старателей «Сининда-1» с октября 2020 года применяет ставку 0% в отношении добытых металлов.
				p При исчислении НДПИ на оловянный концентрат применяется ставка 0% в соответствии с нормами НК РФ для организаций, осуществляющих добычу кондиционных руд олова на территории Дальневосточного федерального округа.
				p
					b Структура операционных расходов за 2022 год, %

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.3.png", alt="")

				p
					b Финансовые доходы и расходы

				.simple-table-wrap
					table.simple-table.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap


						tbody
							tr.simple-table__blue-row
								td
									p млн руб.
								td
									p 2020
								td
									p 2021
								td
									p 2022
								td
									p Изменение 2022/2021, %
							tr
								td
									p Проценты к получению
								td
									p 267
								td
									p 228
								td
									p 666
								td
									p 192
							tr
								td
									p Прибыль/(убыток) от операций с прочими финансовыми инструментами
								td
									p 229
								td
									p 38
								td
									p 1 301
								td
									p 3314
							tr
								td
									p Проценты по кредитам и займам к уплате
								td
									p (2 151)
								td
									p (1 950)
								td
									p (3 465)
								td
									p 78
							tr
								td
									p Проценты по финансовой аренде
								td
									p (147)
								td
									p (114)
								td
									p (123)
								td
									p 8
							tr
								td
									p Дисконты по долгосрочным обязательствам
								td
									p -
								td
									p (197)
								td
									p (159)
								td
									p -19
							tr
								td
									p
										b Итого 
								td
									p
										b (1 803)
								td
									p
										b (1 995)
								td
									p
										b (1 780)
								td
									p
										b -11

				p Сальдо финансовых доходов и расходов по МСФО по итогам 2022 года составило 1 780 млн руб. расходов, снижение относительно прошлого года 11%.
				p Проценты к получению увеличились почти в три раза в основном за счет процентов, полученных от размещения свободных денежных средств на счетах в банках и депозитах в рамках политики управления ликвидностью; проценты от предоставленных займов снизились ввиду возврата части займов и волатильности курса доллара по займам, выданным в валюте. Проценты к уплате по кредитам и займам изменились соразмерно увеличению долговой нагрузки и изменению ее структуры.
				p Доход от переоценки справедливой стоимости товарных форвардов, заключенных в целях стабилизации волатильности цены на реализуемое золото, составил в 2022 году 1 301 млн руб. В октябре-ноябре 2020 года АО «Золото Селигдара» и ООО «Рябиновое» заключили с банком расчетные товарные форварды на общий объем металла 900 кг. Сделки были исполнены в августе-октябре 2022 года, цена исполнения варьировалась от 5 070 до 5 190 рублей за грамм. Финансовый результат от сделок составил 1 725 млн руб., денежное поступление отражено в отчете о движении денежных средств.
				p
					b Показатели рентабельности, %

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.4.png", alt="")

				p Валовая рентабельность Холдинга в 2022 году составила 31,6%, рентабельность по EBITDA 34,1%. Снижение показателей относительно предыдущих анализируемых периодов вызвано снижением мировых цен на добываемые металлы золото и олово, а также укреплением курса рубля в результате ограничений в области валютного регулирования, введенных Банком России. Рентабельность по EBITDA золотодобывающего сегмента в январе–декабре 2022 года составила 36,4%, оловодобывающего сегмента 23,0%.
				p Показатель EBITDA по итогам 12 месяцев 2022 года составил 11 831 млн руб., снижение по золотодобывающему сегменту — 36%, оловодобывающему — 52%.
				p
					b Анализ изменения EBITDA в 2022 году, млн руб.


				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.5.png", alt="")

				p
					b ТСС и AISC, долл/унция

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.6.png", alt="")

				.after-table-text
					p * В 2022 году была скорректирована методика учета операций хеджирования, отраженных в отчетности по статье «Операции с прочими финансовыми инструментами» в финансовых доходах и расходах, при расчете совокупных денежных затрат (AISC). Показатель AISC за 2020 и 2021 годы был пересчитан, скорректированный показатель составил 991 доллар за унцию (ранее — 990) за 2020 год и 852 доллара за унцию (ранее — 857) за 2021 год.

				p
					b Расчет AISC


				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.7.png", alt="")

				h2 Активы и пассивы

				p
					b Структура активов на 31.12.2022, %

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.8.png", alt="")

				p
					b Структура пассивов на 31.12.2022, %

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.9.png", alt="")


				p В структуре активов Холдинга преобладают основные средства и запасы — 51% и 25% в 2022 году соответственно. Основные средства представляют собой производственные мощности, вложения в строительство, лицензии на добычу полезных ископаемых, активы, связанные с разведкой и оценкой полезных ископаемых. Стоимость основных средств на конец отчетного года в обязательном порядке подлежит тестированию на обесценение, обесценения по итогам тестирования не установлено, тестирование производилось независимым оценщиком.
				p В 2022 году была произведена переоценка лицензий на добычу золота и олова, общий прирост стоимости составил 9 521 млн руб. и обусловлен увеличением запасов золота, выявленных в ходе геологоразведочных работ, а также модернизацией производственных мощностей, которые направлены на сокращение издержек производства и увеличение извлечения металла. В 2021 году переоценка не производилась, в 2020 году прирост от переоценки составил 5 287 млн руб.
				p Запасы компании увеличились на 31.12.2022 на 31% и составили 34 053 млн руб. К факторам роста относится общее увеличение производства в обоих дивизионах, рост незавершенного производства в виде дробленой и уложенной под орошение золотосодержащей руды. На конец отчетного периода остаток золота на металлических счетах составил 24 449,1 г, на аффинажных заводах и в пути 107 437,0 г, общей рыночной стоимостью на дату закрытия баланса 540 947 млн руб.
				p На конец отчетного периода на счетах Группы находилось 18 747 млн руб. денежных средств, которые представлены авансом в сумме 7 000 млн руб., полученным под поставки золота на 2023 год, и выручкой, полученной за реализованный в конце отчетного периода металл. Денежные средства размещены в банках с высоким рейтингом.
				p В структуре пассивов 43% приходится на обязательства по кредитам и займам и 28% на капитал. Обязательства по кредитам и займам увеличились на 50% относительно прошлого года, что обусловлено реализацией программы капитальных затрат, а также приобретением новых месторождений и прав на их разработку. Основное влияние на рост капитала оказали увеличение добавочного капитала от переоценки ввиду увеличения стоимости лицензий, а также дополнительная эмиссия обыкновенных акций, произведенная в 2022 году.
				p
					b Показатели ликвидности и оборачиваемости


				.simple-table-wrap
					table.simple-table.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap
						tbody
							tr.simple-table__blue-row
								td  
								td
									p 2020
								td
									p 2021
								td
									p 2022
								td
									p Изменение 2022/2021
							tr
								td
									p Коэффициент абсолютной ликвидности
								td
									p 0,42
								td
									p 0,04
								td
									p 0,32
								td
									p 0,28
							tr
								td
									p Коэффициент быстрой ликвидности
								td
									p 0,74
								td
									p 0,23
								td
									p 0,4
								td
									p 0,17
							tr
								td
									p Коэффициент текущей ликвидности
								td
									p 3,36
								td
									p 2,28
								td
									p 1,07
								td
									p -1,21




				.simple-table-wrap
					table.simple-table.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap
						tbody
							tr.simple-table__blue-row
								td  
								td
									p 2020
								td
									p 2021
								td
									p 2022
								td
									p Изменение 2022/2021
							tr
								td
									p Коэффициент оборачиваемости дебиторской задолженности
								td
									p 12,67
								td
									p 12,69
								td
									p 9,71
								td
									p -2,97
							tr
								td
									p Коэффициент оборачиваемости кредиторской задолженности
								td
									p 3,18
								td
									p 3,25
								td
									p 1,52
								td
									p -1,72
							tr
								td
									p Коэффициент оборачиваемости запасов
								td
									p 1,95
								td
									p 1,64
								td
									p 1,16
								td
									p -0,48

				p Показатели абсолютной и быстрой ликвидности выросли в 2022 году на фоне роста остатков денежных средств. Коэффициент текущей ликвидности снизился, но тем не менее остается достаточно высоким для отраслевых уровней.

				h2 Капитальные вложения
				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.10.png", alt="")


				p Основные средства в 2022 году сохранили привычную для Общества структуру: основную часть занимают лицензии и активы по разведке и оценке минеральных ресурсов (около 56% основных средств), что на 17 539 млн руб. выше уровня предыдущего года. Планируемо увеличилась доля зданий и сооружений, машин и оборудования в стоимости основных средств, с 7% в 2021 году до 13% в 2022-м, и достигла суммы в 10 484 млн руб. за счет реализации проектов развития. Незавершенное строительство на конец отчетного периода составило 15 268 млн руб. — это 22% от общей стоимости основных средств.
				p В 2022 году было введено основных средств в эксплуатацию на сумму 8 350 млн руб., что на 127% больше, чем годом ранее. Постановка на баланс зданий и сооружений снизилась на 49% — до уровня 376 млн руб. Приобретение транспортных средств незначительно выросло на 5% и достигло 1 174 млн руб. в рамках продолжающейся программы по обновлению горной техники. Ускорился процесс ввода машин и оборудования в эксплуатацию до 3 360 млн руб. за 2022 год, что почти в 4,5 раза больше показателя предыдущего года.
				p Благодаря программе капитальных затрат в 2022 году коэффициент обновления вырос и достиг значения 42% (без учета затрат на приобретение лицензии на месторождение Кючус) против 31% в 2021 году. Стоимость основных средств на балансе (без учета лицензий на добычу и активов по разведке) выросла до уровня в 28,2 млрд руб. (+25% год-к-году).

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.11.png", alt="")

				p Объем капитальных затрат (без учета затрат на активы по разведке и лицензии) составил 11 895 млн руб., что на 69% выше показателя прошлого года. В 2022 году также была поставлена на баланс лицензия на месторождение Кючус (часть из которой в размере 2 210 млн руб. была депонирована в 2021 году в качестве задатка).
				p В 2023 году Группа планирует продолжить реализовывать программы по увеличению производительности на действующих участках (увеличение производительности золотоизвлекательной фабрики комплекса Рябиновый, участков кучного выщелачивания по основным комплексам), по разведке перспективных участков, по снижению производственной себестоимости и оптимизации процессов, по техническому перевооружению. Продолжится реализация стратегических проектов как в золотодобывающем дивизионе (проект Хвойный), так и в оловодобывающем дивизионе (расширение производственной мощности по переработке руд и повышение извлечения).

				h2 Долговая нагрузка
				p По состоянию на 31 декабря 2022 года кредитный портфель Группы составил 58 468 млн руб. Основными долговыми инструментами являются:
				ul
					li заем, номинированный в золоте объемом 6 366 493 г на 31 декабря 2022 года. В течение 2022 года размер займа снизился на 1 288 447 г золота. Ставка по займу составляет 4,95% годовых;
					li акционерный заем в сумме 50 млн долл. США по ставке 5% со сроком погашения в 2029 году;
					li акционерный заем в сумме 5 млрд руб. со сроком погашения в 2028 году;
					li облигационные займы — 10,7 млрд руб.


				p
					b Структура долга по видам обязательств

				.simple-table-wrap
					table.simple-table.simple-table--td-non-first-nowrap

						tbody
							tr
								td
									p Инструмент
								td
									p
										| Сумма
										br
										| на 31.12.2022,
										br
										|  млн руб.
								td
									p Примечание
							tr
								td
									p
										| Банковские
										br
										| кредиты — заем
										br
										| в золоте
								td
									p 25 992
								td
									p 6 366 493 г
							tr
								td
									p
										| Банковские
										br
										| кредиты — прочее
								td
									p 13 222
								td  
							tr
								td
									p
										| Акционерное
										br
										| финансирование
								td
									p 8 583
								td  
							tr
								td
									p Облигационные займы
								td
									p 10 671
								td  
							tr
								td
									p
										b Итого
								td
									p
										b 58 468
								td  

				p
					b Структура долга по инструментам на 31.12.2022

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.12.png", alt="")

				p
					b Структура долга по валютам на 31.12.2022


				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.13.png", alt="")

				h2 Динамика Чистого долга и отношения «Чистый долг / банковская EBITDA»*


				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.14.png", alt="")

				.after-table-text
					p * Показатель Чистый долг рассчитан в соответствии с кредитными договорами Холдинга, а именно как Совокупный долг за вычетом денежных средств и денежного эквивалента нереализованного аффинированного золота, размещенного на обезличенном счете, аффинажных заводах и/или переданного ТБСС (Таможенный брокер спецсвязи), по цене ЦБ РФ на дату отчетности. Показатель банковская EBITDA рассчитан в соответствии с кредитными договорами Холдинга.

				br
				br
				p
					b График погашения кредитов/займов и облигаций на 31.12.2022, млн руб.

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.15.png", alt="")

				h2 Денежные потоки
				p Денежный поток от операционной деятельности до изменений оборотного капитала составил в 2022 году 10 581 млн руб. Инвестиции в оборотный капитал представляют собой в первую очередь увеличение запасов золота на стадии переработки, обусловленное расширением производства, формированием запаса руды для кучного выщелачивания. Основной отток денежных средств по инвестиционной деятельности представляет собой приобретение основных средств и нематериальных активов (17 963 млн руб.), в частности, затраты на приобретение лицензии на месторождение Кючус, на реализацию программы технического перевооружения. Денежные потоки по финансовой деятельности включают привлечение банковского финансирования, долгосрочного акционерного займа, а также выплату дивидендов и эмиссию акций.
				p
					b Денежные потоки за 2022 год

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.16.png", alt="")

				.simple-pic
					img(src="img/finansovye-rezultaty/3.8.17.jpg", alt="")

				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/sistema-upravleniya-riskami.html")   Система управления рисками