extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap.breadcrumbs-wrap--page-with-sb 
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link О компании
			li.breadcrumb
				.breadcrumb-link География деятельности и ключевые активы

	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»<br> Константин Александрович<br> БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content.right-content--with-sidebar
				//.page-top-pic
					img(src="img/strategiya-ustojchivogo-razvitiya.jpg", alt="")

				h1  География деятельности и ключевые активы








				.geog-map
					img(src="img/seligdar_map-min.jpg", alt="")
					|<svg width="3000" height="1908" viewBox="0 0 3000 1908" fill="none" xmlns="http://www.w3.org/2000/svg">
					| <rect  class="js-geog-map-point" data-href="/proekty-razvitiya.html#stroitelstvo-zif-na-mestorozhdenii-hvojnoe"  x="1838.92" y="647.453" width="133.444" height="80.1977" fill="#D9D9D9"/>
					| <rect  class="js-geog-map-point" data-href="/proekty-razvitiya.html#proizvodstvennyj-kompleks-pravourmijskij"  x="2652" y="647" width="267" height="229" fill="#D9D9D9"/>
					
					| <rect  class="js-geog-map-point" data-href="/proekty-razvitiya.html#proizvodstvennyj-kompleks-samolazovskij"  x="2651.95" y="1612.98" width="267.5" height="216.774" fill="#D9D9D9"/>
					
					| <rect  class="js-geog-map-point" data-href="/proekty-razvitiya.html#proizvodstvennyj-kompleks-ryabinovyj"  x="1796.63" y="1187.42" width="267.5" height="213.457" fill="#D9D9D9"/>
					| <rect  class="js-geog-map-point" data-href="/proekty-razvitiya.html#proizvodstvennyj-kompleks-sininda"  x="1016" y="1331" width="208" height="220" fill="#D9D9D9"/>
					| <rect  class="js-geog-map-point" data-href="/proekty-razvitiya.html#proizvodstvennyj-kompleks-poisk"  x="1082.21" y="158.579" width="207.73" height="233.819" fill="#D9D9D9"/>
					| <rect  class="js-geog-map-point" data-href="/proekty-razvitiya.html#proizvodstvennyj-kompleks-solnechnyj"  x="2651.95" y="137.839" width="267.5" height="214.459" fill="#D9D9D9"/>
					
					| <rect  class="js-geog-map-point" data-href="/proekty-razvitiya.html#osvoenie-mestorozhdeniya-kyuchus"  x="1874.42" y="312.199" width="195.893" height="80.1977" fill="#D9D9D9"/>
					| <rect  class="js-geog-map-point" data-href="/proekty-razvitiya.html#strategicheskij-proekt-pyrkakajskie-shtokverki"  x="2201.37" y="55.8295" width="203.583" height="119.805" fill="#D9D9D9"/>
					|</svg>
					// <rect  class="js-geog-map-point" data-href=""  x="2652" y="1091" width="267" height="236" fill="#D9D9D9"/>
										// <rect  class="js-geog-map-point" data-href=""  x="2651.95" y="1365.73" width="267.5" height="202.154" fill="#D9D9D9"/>
					// <rect  class="js-geog-map-point" data-href=""  x="2242.67" y="1452.14" width="267.5" height="216.774" fill="#D9D9D9"/>
										// <rect  class="js-geog-map-point" data-href=""  x="1797" y="1452" width="267" height="242" fill="#D9D9D9"/>
					// <rect  class="js-geog-map-point" data-href=""  x="1985.18" y="590.92" width="133.773" height="136.731" fill="#D9D9D9"/>
 



				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/biznes-model.html")  Бизнес-модель