extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Устойчивое развитие
			li.breadcrumb
				.breadcrumb-link Инновации и автоматизация






	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				.page-top-pic
					img(src="img/new-pics/innovacii-i-avtomatizaciya.jpg", alt="")

				h1 Инновации и автоматизация



				p
					a(href="https://seligdar.ru/upload/investors/results-and-reports/Seligdar_2022_Annual_Report_rus.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 125-128


				h2 Научно-технический совет
				p В 2022 году в компании был сформирован Научно-технический совет, который является постоянно действующим коллегиальным совещательным органом. В состав Научно-технического совета входят руководители различных направлений работы Холдинга: главный инженер, главный металлург, главный обогатитель, руководители по направлениям геологии и недропользования, производства, инжиниринга и развития, технического проектирования и лицензирования. Основной целью деятельности совета является научно-техническое обеспечение реализации принятой стратегии развития Холдинга.
				p В рамках утвержденного плана работы Научно-технического совета на 2022 год был выполнен ряд научно-исследовательских работ:

				ul
					li Разработка технических решений по обезвреживанию хвостов цианирования золотоизвлекательной фабрики производственного комплекса Рябиновый и дебалансных вод хвостохранилища с целью соблюдения экологических норм и защиты окружающей среды при переработке руд месторождения Рябиновое.
					li Разработка технологии регенерации свободного цианида в растворах кучного выщелачивания месторождения Рябиновое с целью вывода растворенной меди.
					li Проведение опытно-промышленного моделирования процесса обезвоживания хвостов сорбции золотоизвлекательной фабрики производственного комплекса Рябиновый на горизонтальной осадительной центрифуге с целью определения показателей процесса обезвоживания и подбора оборудования, позволяющих достичь прогнозных показателей.
					li Разработка технологии комплексной переработки хвостов гравитационного обогащения руды месторождения Мурзинское-1 с целью повышения количества получаемого металла.
				h2 Проект «Пробирно-аналитическая лаборатория «Алдан»

				.simple-pic
					img(src="img/4.6.1.jpg", alt="")

				p В 2020 году было принято решение о запуске пробирно-аналитической лаборатории «Алдан» (ПАЛ «Алдан») для оценки качества руды текущей переработки, проведения опережающего технологического опробования перспективной руды с целью оперативной корректировки параметров отдельных узлов технологической схемы основного производства и определения оптимальных условий их работы. Лаборатория расположена в Алданском районе Республики Саха (Якутия) вблизи основных производственных комплексов золотодобывающего дивизиона Холдинга.
				p Задача лаборатории - выполнять трудоемкие и долговременные анализы продуктов технологического производства, содержащих драгоценные металлы. Кроме того, в различных отделениях лаборатории предусматривается выполнение анализов геологических, балансовых и товарных проб, проб воздуха, воды и почвы для служб охраны труда и охраны окружающей среды.
				p В лаборатории исследуются горные породы, золото/серебросодержащие руды, а также продукты их переработки для производственных активов Холдинга, расположенных в Аланском районе Якутии. Отдельное направление - экологические исследования. Ведется экологический мониторинг производственной деятельности на комплексах Рябиновый, Нижнеякокитский, Самолазовский, Подголечный.
				p Для рудоподготовки в лаборатории применяется автоматическая щековая дробилка –линейный делитель–весы–мельница. Роботизированная система разработана для подготовки образцов руд, керновых проб и аналогичных материалов. Основное применение–уменьшение размера частиц образца и его деление для отбора представительной пробы для пробирного анализа.
				p В декабре 2022 года лаборатория была запущена и начались пусконаладочные работы, ввод в эксплуатацию намечен на апрель 2023 года. Объем инвестиций в проект составил 1,4 млрд руб., в т.ч. 632 млн руб. в 2022 году.
				h2 Технология рентген-абсорбционной сепарации руды
				p В 2022 году продолжились опытно-промышленные испытания по крупнокусковому обогащению руд месторождений Правоурмийское и Фестивальное в Хабаровском крае. Применение сепарации обеспечивает подачу на фабрику усредненного по составу материала, что позволяет достигать стабильного более высокого извлечения металла. С учетом геополитической ситуации в рамках проекта была произведена оценка эффективности сепараторов не только немецкого, но и китайского производства, а также детально изучены особенности оборудования.
				h2  Новые реагенты
				p В 2022 году начат выпуск высококачественного вольфрамового (шеелитового) концентрата с содержанием триокисида вольфрама не менее 50% на производственном комплексе Солнечный за счет внедрения в схему цикла шеелитовой флотации. Специалистам обогатительной фабрики удалось подобрать новый реагент, который разводится в холодной воде и работает на холодной пульпе, вместо традиционно используемого при данном процессе реагента, работающего на горячей воде, что позволяет снизить операционные затраты на переработку руды. Проект полностью разработан и реализован силами сотрудников компании.
				h2  Высокотехнологичные решения
				p В 2022 году на производственном комплексе Правоурмийский была внедрена технология лазерного сканирования горных выработок и очистного пространства с помощью ручного портативного лазерного сканера ZEB Horizon. По сравнению с ранее применяемым электронным тахеометром, время съемки сократилось в 8 раз, при этом получаемая с помощью сканера ZEB Horizon детализация положения горных работ несопоставимо выше, что дает возможность предельно точно определять объем отработанного пространства. Другое значимое преимущество сканера ZEB Horizon - возможность выполнения съемки в труднодоступных местах, безопасность проведения работ при выполнении обследований очистного пространства, а также совместимость с ГГИС Майнфрейм. ГГИС Майнфрейм – это российский программный продукт для работы специалистов геологических, маркшейдерских и проектных служб. За счет интеграции ГГИС Майнфрейм и сканера ZEB Horizon повысилась точность проектирования и бурения взрывных скважин, а также эффективность выполняемого мониторинга за углом откосов транспортных дорог от штольни до фабрики.


				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/izmenenie-klimata-i-energoeffektivnost.html")   Изменение климата и энергоэффективность