extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Корпоративное управление

			li.breadcrumb
				.breadcrumb-link Исполнительные органы управления






	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content

 
				h1 Исполнительные органы управления





				p
					a(href="https://seligdar.ru/upload/investors/results-and-reports/Seligdar_2022_Annual_Report_rus.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 173-180


				h2 Состав Правления ПАО «Селигдар» по состоянию на 31 декабря 2022 года


				ul
					li Татаринов Сергей Михайлович (Председатель);
					li Гусев Александр Сергеевич (до 20.07.2022);
					li Кислый Александр Викторович;
					li Колсанов Вадим Викторович;
					li Кочкин Денис Александрович (с 21.07.2022 до 03.11.2022);
					li Пелешатый Александр Теодорович;
					li Хрущ Александр Александрович;
					li Щетинин Евгений Владимирович

				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/audit-i-kontrol.html")   Аудит и контроль