extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Устойчивое развитие
			li.breadcrumb
				h1.breadcrumb-link Изменение климата и энергоэффективность






	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				p
					b Изменение климата и энергоэффективность



				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 129-149



				p Изменение климата и энергоэффективность
				p В целях повышения энергоэффективности Холдинг применяет ряд специальных технологий, в том числе:
				ul
					li частотное регулирование электродвигателей;
					li светодиодное освещение;
					li теплосберегающие технологии и материалы при строительстве и ремонте зданий и сооружений;
					li технологии автоматизации технологических процессов;
					li погодозависимые системы на объектах теплоснабжения.

				p Основные этапы развития управления энергопотреблением в Холдинге «Селигдар»:


				.simple-pic
					img(src="img/4.6.2.png", alt="")

				p
					b Развитие возобновляемой энергетики
				p Возможности развития собственной возобновляемой энергетики Холдингом ограничены в связи с климатическими условиями в регионах присутствия. Однако на производственном комплексе Лунный уже более пяти лет работают две солнечные панели, снабжающие электроэнергией передвижные системы связи, в первостепенные задачи которых входит сбор данных с действующих буровых установок и передача данных в реальном времени.  Опыт эксплуатации этих электростанций позволит принять решение о дальнейшем развитии использования возобновляемых источников электроэнергии.
				p
					b Затраты на охрану окружающей среды
				p Текущие затраты на охрану окружающей среды, природоохранные мероприятия, млн руб.

				.simple-pic
					img(src="img/4.6.3.png", alt="")

				p Плата за негативное воздействие на окружающую среду (экологические платежи), млн руб.

				.simple-pic
					img(src="img/4.6.4.png", alt="")
