extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				h1.breadcrumb-link Контактная информация



	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				h2 Контактная информация

				.simple-pic.simple-pic--w500
					img(src="img/contacts.jpg", alt="")

				.simple-table-wrap
					table.simple-table.simple-table--only-horis-borders.simple-table--td-first-minw-200

						tbody
							tr
								td
									p Полное фирменное название
								td
									p Публичное акционерное общество «Селигдар»
							tr
								td
									p Сокращенное название
								td
									p ПАО «Селигдар»
							tr
								td
									p ОГРН
								td
									p 1071402000438
							tr
								td
									p ИНН / КПП
								td
									p 1402047184/140201001
							tr
								td
									p Основной вид деятельности
								td
									p 70.10.2
									p Деятельность по управлению холдинг-компаниями
							tr
								td
									p Юридический и почтовый адрес
								td
									p 678900, Республика Саха (Якутия), улус Алданский, г. Алдан, 26 Пикет, 12
							tr
								td
									p Обособленное подразделение в г. Москве
								td
									p 121096, г. Москва, ул. Василисы Кожиной, 1
							tr
								td
									p Приемная (г. Алдан)
								td
									p Тел./факс: +7 (41145) 37-2-45
									p E‑mail: seligdar@seligdar.ru, info@seligdar.ru
							tr
								td
									p Приемная (г. Москва)
								td
									p Тел. +7 (495) 789-43-47
							tr
								td
									p Пресс-служба
								td
									p Отдел по связям с общественностью и взаимодействию с органами власти
									p Тел. +7 (495) 789-43-47
									p E‑mail: press@seligdar.ru
							tr
								td
									p Для акционеров
								td
									p Корпоративный секретарь,
									p Управление корпоративных отношений
									p Тел. +7 (495) 789-43-47
									p E‑mail: corpsecretary@seligdar.ru
							tr
								td
									p Для инвесторов, а также для обращений по вопросам, связанным с отчетом
								td
									p Отдел по работе с инвесторами
									p Тел. +7 (495) 789-43-47
									p E‑mail: ir@seligdar.ru
							tr
								td
									p Аудитор
								td
									p ООО «Р.О.С.ЭКСПЕРТИЗА»
									p 127055, г. Москва, Тихвинский переулок, д. 7, стр. 3, каб. 20
									p ИНН 7708000473, ОГРН 1027739273946
									p Тел. (495) 721-38-83
									p E‑mail: office.msc@crowerus.ru
							tr
								td
									p Реестродержатель
								td
									p Акционерное общество «Новый регистратор»
									p 107023, г. Москва, ул. Буженинова, д. 30
									p ИНН 7719263354, ОГРН 1037719000384
									p Тел. +7 (495) 980-11-00
									p Сайт: www.newreg.ru
									p E‑mail: newreg@newreg.ru
									p
										| Лицензия № 10-000-1-00339, выдана ФСФР России 30.03.2006, срок действия: бессрочная
