extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Устойчивое развитие
			li.breadcrumb
				.breadcrumb-link Наши сотрудники





	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				.page-top-pic
					img(src="img/strategiya-ustojchivogo-razvitiya.jpg", alt="")

				h1 Наши сотрудники


				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 94-106



				p ПКлючевая цель кадровой политики — формирование благоприятной среды для эффективной работы коллектива, а также обеспечение оптимального баланса процессов обновления и сохранения численного и качественного состава кадров в соответствии с потребностями Холдинга. «Селигдар» стремится стать лучшим работодателем в отрасли. Одним из ключевых направлений политики привлечения персонала является работа с молодыми специалистами - выпускниками ведущих учебных заведений страны.

				p Среднесписочная численность



				.simple-pic
					img(src="img/nashi-sotrudniki/4.3.1.png", alt="")

				p Численность персонала на конец года *

				.simple-pic
					img(src="img/nashi-sotrudniki/4.3.2.png", alt="")

				p * Данные по численности персонала на 2020 и 2021 годы были пересчитаны в связи с исключением числа стажеров.
				p Структура персонала по месту работы


				.simple-pic
					img(src="img/nashi-sotrudniki/4.3.3.png", alt="")

				p Структура персонала по месту жительства

				.simple-pic
					img(src="img/nashi-sotrudniki/4.3.4.png", alt="")

				p Средняя заработная плата в Холдинге «Селигдар» по сравнению со средней по региону

				.simple-pic
					img(src="img/nashi-sotrudniki/4.3.5.png", alt="")

				p Затраты на программы поддержки персонала, млн руб.

				.simple-pic
					img(src="img/nashi-sotrudniki/4.3.6.png", alt="")

				p Структура затрат на программы поддержки персонала в 2022 году


				.simple-pic
					img(src="img/nashi-sotrudniki/4.3.7.png", alt="")

				p В 2022 году продолжила действовать социальная программа для сотрудников[1], которая обеспечивает дополнительные гарантии в области социально-трудовых отношений.
				p В 2022 году затраты на социальные программы поддержки персонала[2] составили 173 млн руб., что на 25% выше, чем в 2021 году.

				hr
				.after-table-text
					p
						sup [1]
						|  дополнительные гарантии распространяются только на сотрудников компаний Холдинга и не предоставляются временным работникам (работникам по совместительству).
					p
						sup [2]
						|  Затраты на социальную поддержку персонала в 2020 и 2021 году были пересчитаны с учетом включения в них расходов на оплату жилья работникам компаний золотодобывающего дивизиона.

				h2 Работа с молодежью


				.simple-pic
					img(src="img/nashi-sotrudniki/4.3.8.jpeg", alt="")


				p «Селигдар» активно работает с молодежью и взаимодействует со школами, средне-специальными и высшими учебными заведениями России: проводит презентации (как в очном, так и в онлайн-форматах), организует прохождение практики, стажировки, проводит экскурсии на производственные комплексы. «Селигдар» регулярно принимает участие в Ярмарках вакансий, в том числе для выпускников учебных заведений, проходящих в разных регионах Российской Федерации. Холдинг взаимодействует с более, чем 30 учебными заведениями Российской Федерации.
				p В 2022 году прошла встреча представителей ПАО «Селигдар» и Иркутского национального исследовательского технического университета (ИРНИТУ), в рамках которой были рассмотрены вопросы реализации совместных долгосрочных программ подготовки специалистов и намечен план совместной работы. В ноябре 2022 года ПАО «Русолово», головная компания оловодобывающего дивизиона, и Солнечный промышленный техникум заключили договор на обучение новой профессии «Сепараторщик» студентов с возможностью последующего трудоустройства на предприятиях компании. Обучение связано с внедрением в производственный процесс модульного рудосепарационного комплекса.
				p В компании действует комплексная программа, направленная на профориентацию, адаптацию и развитие компетенций будущих работников «Селигдар. Новое поколение». Программа включает летние трудовые отряды с развивающей и профориентирующей программой для школьников, Дни открытых дверей, производственную и преддипломную практику, целевое обучение для студентов, стажировку и участие в программах развития для молодых специалистов. В 2022 году практику прошли 118 студентов, стажировку – 40 молодых специалистов. В 2022 году после прохождения практики и стажировки в золотодобывающий дивизион «Селигдара» трудоустроились 36 новых специалистов.
				p «Селигдар» ежегодно организует экскурсии для студентов и школьников. 2022 год стал показательным с точки зрения географии и возраста гостей: на производственных объектах Холдинга побывали участники клуба «Юный геолог» из г. Новосибирска и г. Губахи Пермского края. В рамках совместного проекта «Селигдар» и Общества «Знание» на экскурсию приехали студенты Иркутского национального исследовательского технического университета и Томского государственного университета, самыми юными гостями стали ученики 2-го класса Алданской гимназии, которые посетили тепличный комплекс.
				h2 Региональные программы
				p С 2017 года АО «Золото Селигдара», входящее в Холдинг, является участником приоритетного проекта Республики Саха (Якутия) «Местные кадры в промышленность». За 2022 год были трудоустроены 304 человека из числа незанятых жителей Республики Саха (Якутия), в том числе 157 человек в возрасте до 35 лет и 31 человек из сельской местности.
				p ПАО «Русолово», головная компания оловодобывающего дивизиона, участвует в программе «Повышение мобильности трудовых ресурсов» Хабаровского края, в рамках которой жители Российской Федерации могут переехать на постоянное место жительства в Хабаровский край и получить финансовую поддержку. В 2022 году в рамках программы в компании оловодобывающего дивизиона Холдинга трудоустроены 21 человек.