extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap.breadcrumbs-wrap--page-with-sb
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link О компании
			li.breadcrumb
				.breadcrumb-link Обращение Председателя Совета директоров ПАО «Селигдар»



	.main-block-flex
		.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/new-pics/obrashenie-generalnogo-direktora-pao-seligdar.jpg", alt="Сергей Михайлович ТАТАРИНОВ")
					.left-content-pic__desc Генеральный директор <br> ПАО «Селигдар» <br> Сергей Михайлович <br> ТАТАРИНОВ


				.left-content-quote «Селигдар» разработал целый комплекс инструментов реализации золота и постоянно дополняет список новыми каналами сбыта. Продажа золота, добываемого «Селигдаром», стала осуществляться и на Московской Бирже.


		.main-block-flex__right
			.right-content.right-content--with-sidebar
				p
					b Уважаемые акционеры и сотрудники!

				p В 2022 году «Селигдар» продемонстрировал высокую эффективность, сильную устойчивость и адаптивность. Минувший год по ряду причин политического и экономического характера стал вызовом для золотодобывающей отрасли, и наша компания не только с достоинством справилась со всеми сложностями, но и установила новый производственный рекорд, добыв 7,55 т золота в 2022 году (+6 % к уровню 2021 года).
				p Компании пришлось адаптироваться к новым условиям, существенно осложняющим вопросы добычи, экономического планирования и технической модернизации предприятия. Несмотря на это, Холдинг выполнил запланированные задачи по развитию и расширению производственных линий, геологоразведке и подготовке к освоению новых месторождений.
				p В прошлом году «Селигдар» провел модернизацию предприятий во всех регионах деятельности: в Якутии производительность золотоизвлекательной фабрики производственного комплекса Рябиновый увеличили с 1,4 млн т руды в год до 1,6 млн т; в Бурятии провели реконструкцию золотоизвлекательной фабрики производственного комплекса Сининда; в Алтайском крае началась опытно-промышленная эксплуатация фабрики по переработке скарновых руд мощностью 200 тыс. т в год. Кроме того, нами была продолжена работа по расширению автопарка и обновлению специального оборудования на всех производственных комплексах.
				p «Селигдар» сфокусирован на непрерывном росте и развитии за счет максимизации эффективности всех процессов и применения инновационных технологий. Мы гордимся тем, что наши достижения отмечают на уровне республики: в конце года за ввод в эксплуатацию установки термоподготовки сульфидной руды на месторождении Самолазовское указом Главы Республики Саха (Якутия) компании присуждена государственная премия в области материального производства 2022 года.
				p В Якутии мы завершили строительство крупнейшего в России автоматизированного лабораторного комплекса на 3000 кв. м, снабженного самым современным оборудованием, в том числе двумя промышленными роботами, которые самостоятельно выполняют деление, дробление и истирание.
				p Активно ведется работа на двух наших перспективных проектах — Хвойное и Кючус. В марте, как только мы получили лицензию на разработку месторождения Кючус, генеральный подрядчик проекта «ОГК-Групп» организовал полностью автономный участок, и уже в апреле начались буровые работы. По итогу 2022 года мы выполнили более половины двухлетней программы геолого- разведочных работ.
				p Возведение золотоизвлекательной фабрики мощностью 3 млн т руды на месторождении Хвойное в Алданском районе идет в полном соответствии с принятым графиком — завершены все подготовительные работы, приобретено необходимое оборудование и начато строительство.
				p С целью расширения ресурсной базы Холдинга совместно с Росгеологией проводятся поисково-оценочные работы на участках недр Чулковское, Хохой и Школьное в Якутии; на Семеновской площади, месторождении Мурзинское в Алтайском крае.
				p Условия труда и комфортное проживание наших работников — важная составляющая социальной политики Холдинга. В 2022 году «Селигдар» построил 8 новых современных общежитий: три общежития в Якутии, два — в Бурятии, два — в Алтайском крае и одно — в Хабаровском крае.
				p Подводя итог, хочу подчеркнуть, что 2022 год был весьма непростым, но зато очень сильно нас закалил, поднял боевой дух и доказал, что мы найдем выход из любого сложного положения. Опыт бесценен, при правильно выстроенных процессах и анализе различных сценариев можно найти наиболее оптимальное решение. «Селигдар» не отступит от своих целей и намеченных планов. В долгосрочной перспективе наш ориентир — рост производственных и финансовых показателей, а также рост капитализации компании.
				p
					b С уважением, Генеральный директор ПАО «Селигдар» <br>Сергей Михайлович ТАТАРИНОВ

				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/obzor-pao-seligdar.html")  Кратко о компании