extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Корпоративное управление

			li.breadcrumb
				.breadcrumb-link Общее собрание акционеров





	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				.page-top-pic
					img(src="img/strategiya-ustojchivogo-razvitiya.jpg", alt="")

				h1 Общее собрание акционеров




				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 157


				p  Высшим органом управления ПАО «Селигдар» является Общее собрание акционеров, участвуя в котором акционеры реализуют свое право на управление Обществом. На Общем собрании акционеров принимаются решения по основным вопросам его деятельности. Компетенция, порядок подготовки и проведения Общего собрания акционеров Общества определены в Уставе Общества и
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")    Положении О порядке подготовки, созыва и проведения Общего собрания акционеров ПАО «Селигдар».

				hr

				p
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")   Устав  Общества
					|  и
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")    Положение О порядке подготовки, созыва и проведения Общего собрания акционеров ПАО «Селигдар»

				p
					a(href="https://seligdar.ru/shareholders-meeting/" target="_blank")   Раздел «Информация для акционеров»