extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link О компании
			li.breadcrumb
				.breadcrumb-link Кратко о компании

	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»<br> Константин Александрович<br> БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content
				.page-top-pic
					img(src="img/strategiya-ustojchivogo-razvitiya.jpg", alt="")

				h1  Кратко о компании

				p
					a( href="/otchyot.pdf" target="_blank" ) Полный обзор читайте в Годовом отчете на стр. 10-13
				p ПАО «Селигдар» является одной из ведущих российских золотодобывающих компаний с опытом работы в отрасли более 47 лет. Основными добываемыми металлами являются золото и олово. Запасы золота – 272 тонны, запасы олова – 405 тыс. тонн. <br> За 2022 год добыча золота составила более 7,55 тонн, олова в концентрате – 2,9 тыс. тонн.
				p Активы Холдинга «Селигдар» расположены в шести регионах РФ: Республика Саха (Якутия), Оренбургская область, Алтайский край, Республика Бурятия, Хабаровский край, Чукотка.

