extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Устойчивое развитие
			li.breadcrumb
				h1.breadcrumb-link Охрана труда и промышленная безопасность





	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				p
					b Охрана труда и промышленная безопасность


				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 107-116


				.simple-pic
					img(src="img/4.4.1.jpg", alt="")


				p  «Селигдар» стремится создать максимально комфортные и безопасные условия труда для своих работников.
				p Все работники обеспечиваются специальной одеждой, специальной обувью, средствами индивидуальной и коллективной защиты, смывающими и обезвреживающими средствами. Работники участков и центрального офиса обеспечены служебным транспортом для доставки до места работы и обратно. Все помещения административных корпусов имеют оборудованные места для выдачи нарядов перед производственной сменой.
				p На всех производственных участках оборудованы помещения для комфортного проживания работников, работающих вахтовым методом. Все помещения административных и бытовых корпусов, а также общежитий оборудованы туалетными комнатами, функционируют прачечные комплексы. Все участки обеспечиваются питьевой водой и оборудованы столовыми, в которых предлагается горячее питание. Во всех помещениях проводится регулярная влажная уборка. В распоряжении работников есть банные комплексы, комнаты отдыха, помещения для занятий спортом. В 2022 году было построено семь новых комфортабельных общежитий на производственных комплексах золотодобывающего дивизиона и одно – в оловодобывающем дивизионе.
				p Все рабочие места, находящиеся в помещениях, кабинах горнотранспортного оборудования, операторских, оборудованы в соответствии с установленными требованиями (имеют обогрев, освещение, защиту от воздействия вредных факторов – пыли, шума, вибрации).
				p При выдаче наряд заданий на производство работ до всех работников доводится информация об возможности отказаться от выполнения работ в случае, если, по мнению работника, в ходе выполнения трудовых обязанностей может быть причинен вред здоровью или получена травма. Любой работник имеет право отказаться от выполнения работы, поставив в известность своего непосредственного руководителя, если условия работы не соответствует требованиям безопасности, без каких-либо санкций или штрафов со стороны работодателя.
				p Профилактические функции, в том числе приспособление трудовых процессов к способностям работников с учетом состояния их физического и психического здоровья, а также ответственность за консультирование работодателя, работников и их представителей возложены на службу охраны труда.
				p На всех участках оборудованы места для хранения аптечек первой помощи и помещения для оказания медицинской помощи (здравпункты). В помещениях постоянно находится квалифицированный персонал, и имеется весь необходимый медицинский инвентарь. Проводятся предрейсовые (послерейсовые) и предсменные (послесменные) медицинские осмотры, в том числе с использованием специальных медицинских шлюзов. Для проведения обязательных периодических медицинских осмотров заключаются договоры со сторонними организациями. На постоянной основе проводится добровольная вакцинация от гепатита, гриппа, Covid-19.
				p В Холдинге приветствуется здоровый образ жизни, мероприятия по его поддержке проводятся Управлением по работе с персоналом. На протяжении многих лет на базе «Селигдара» в Алдане работает спортивно-оздоровительный комплекс с бассейном. В 2022 году открылся новый спортивный зал с тренажерами, беговыми дорожками и спортивным инвентарем для игровых видов спорта.
				p На предприятиях холдинга «Селигдар» ведется профилактика профессиональных заболеваний, включающая в себя выполнение различных мероприятий, направленных на снижение воздействия опасных и вредных производственных факторов. На каждом рабочем месте проводится специальная оценка условий труда, по результатам которой разрабатываются мероприятия по улучшению условий труда работников. Медработники подразделений – фельдшеры - периодически проводят беседы с работниками по поддержке здорового образа жизни, профилактике опасных заболеваний.
				p Объем обучения в области охраны труда и промышленной безопасности, тыс. часов


				.simple-pic
					img(src="img/4.4.2.png", alt="")

				p Обучение в области охраны труда и промышленной безопасности, чел.


				.simple-pic
					img(src="img/4.4.3.png", alt="")
