extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Стратегический отчет
			li.breadcrumb
				.breadcrumb-link Отчет Совета директоров об исполнении Стратегии устойчивого развития

	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content
				.page-top-pic
					img(src="img/new-pics/otchet-soveta-direktorov-ob-ispolnenii-strategii-ustojchivogo-razvitiya.jpg", alt="")

				h1  Отчет Совета директоров об исполнении Стратегии устойчивого развития



				.simple-table-wrap
					table.simple-table.simple-table--td-minw-200
						tbody
							tr
								td Направление Стратегии
								td Достижение результатов к 2023 г.
							tr
								td Проекты развития:<br> Хвойный, <br> Кючус, <br> Пыркакайские штокверки
								td
									p Хвойный: Завершена экспертиза проекта строительства золотоизвлекательной фабрики, подготовлена площадка, начало строительства основных производственных объектов в 2023 году.
									p Кючус: Продолжается геологоразведка и исследование руды 
									p Пыркакайские штокверки: Отобраны пробы и проводятся технологические испытания
							tr
								td Воспроизводство ресурсной базы Холдинга
								td Фактическая постановка запасов в 2022 году (с учетом ЭРР) — 8 т
									p  Планируемый прирост запасов в 2023 году (с учетом ЭРР) — до 40 т
							tr
								td Внедрение стандартов ESG
								td
									p Реализован большой комплекс мероприятий по экологии, социальной ответственности, корпоративному управлению, внедрению новых стандартов отчетности
									p Результат — повышение внешней независимой оценки по всем критериям
							tr
								td Экологическая ответственность
								td
									p  Разработана и внедрена экологическая политика
									p  Получила дальнейшее развитие система экологического мониторинга, введена в эксплуатацию передвижная экологическая лаборатория
									p  Подписано соглашение между ПАО «Селигдар» и Федеральной службой по надзору в сфере природопользования о реализации пилотного проекта
							tr
								td Социальная ответственность
								td
									p Обновлено Положение о социальных гарантиях работников.
									p Продолжилось развитие инфраструктуры для сотрудников, в том числе введены в эксплуатацию спорткомплекс, новые общежития, строится поселок для специалистов.
									p  В 2022 г. Холдинг подписал соглашение с Республиканской спортивной школой Олимпийского резерва по лыжному спорту на обеспечение формой и индивидуальными стипендиальными программами для воспитанников.
									p «Селигдар» в 2022 г. продолжил участвовать в благотворительных
									p  мероприятиях, спонсорской помощи, оказывал поддержку ремесленникам Республики Саха (Якутия), реализовывал медийные, исторические, образовательные и другие проекты в регионах присутствия.
							tr
								td Корпоративное управление
								td  Утвержден Кодекс корпоративного управления ПАО «Селигдар», Политика управления рисками и внутреннего контроля, Политика о внутреннем аудите
							tr
								td Отчетность
								td Начиная с Годового отчета ПАО «Селигдар» за 2021 г., нефинансовая информация в области ESG раскрывается в соответствии с международными стандартами GRI (Global Re| orting Initiative)


				.simple-pic
					img(src="img/so-1.jpg", alt="")

				p
					b Достижение целевых показателей Стратегии устойчивого развития:
				p Производство золотодобывающего дивизиона в период 2018–2022 годов:
				ul
					li Объем горной массы вырос на 33% — до 28,8 млн м3.
					li Добыча руды увеличилась на 21% — до 14,2 тыс. т.
					li Производство лигатурного золота увеличилось на 26% и достигло уровня в 7,55 т в 2022 году. Среднегодовые темпы роста составили 6% в год.
				p
					b Ключевая промежуточная цель Стратегии — произ­водство 8 т золота — фактически достигнута.
				p Факторы, сдерживающие более интенсивный рост, следующие: смещение графиков реализации некоторых проектов под влиянием пандемии в 2020–2021 годах, а также нестабильная конъюнктура рынка золота в 2022 году, что стало причиной более осторожного подхода компании к реализации капиталоемких проектов в прошедшем году.
				p Производство оловодобывающего дивизиона в период 2018–2022 годов:
				ul
					li Добыча руды увеличилась на 110% — до 0,7 млн т.
					li Производство олова в концентрате увеличилось на 89% и достигло уровня в 2,9 тыс. т в 2022 году. Среднегодовые темпы роста составили 17% в год.
				p
					b Ключевая промежуточная цель Стратегии — производ­ство 2 тыс. т олова — достигнута с перевыполнением.
				h2 Финансовые показатели в период 2018–2022 годов:
				p Выручка выросла на 118% — до 34,7 млрд руб., в основном за счет прироста цены реализации и увеличения производства в натуральных показателях. Среднегодовые темпы прироста остаются высокими — на уровне 22%.
				p Показатель EBITDA вырос на 86% — до 11,8 млрд руб. (показатель EBITDA банковская равен 13,5 млрд руб.), но из-за негативной конъюнктуры рынков и внешнего фона в 2022 году рентабельность по данному показателю сократилась от базового года на 6 п.п. Данные факторы являются временными, ситуация с начала 2023 года существенно улучшилась, главным образом за счет динамики валютного курса и цен на золото, и компания не ожидает повторения низкой маржинальности 2022 года.
				p Вследствие сбалансированного подхода к управлению долговым портфелем показатель долговой нагрузки «чистый долг / банковская EBITDA» составил 2,90х и управляется в соответствии с целями Стратегии.
				p
					b Компания планомерно двигается к достижению цели Стратегии — снижению относительной долговой нагрузки и росту рентабельности — и ожидает достижения целевых уровней к окончанию текущего этапа стратегического планирования.
				p С учетом начала фазы интенсивного строительства нескольких крупных проектов развития, в ближайшем будущем сумма долга в абсолютном выражении сокращаться не будет, но относительные показатели долговой нагрузки должны улучшиться на фоне положительных ожиданий от ценовой конъюнктуры и целей по росту операционной эффективности.
				h2 Ресурсная база в период 2018–2022 годов:
				p Ресурсная база в период реализации Стратегии возросла до 272 т золота, главным образом за счет покупки месторождения Кючус (2021 год), рост составил 150 т.
				p Ключевая цель Стратегии — обеспеченность ресурсами на долгосрочную перспективу работы объектов — исполняется.
				p В Холдинге одобрена и реализуется долгосрочная программа геологоразведки и эксплоразведки: только в 2023 году компания планирует поставить на баланс дополнительно до 40 т золота на действующих участках, что позволит значительно продлить сроки эксплуатации объектов.
				h2 Себестоимость производства золота:
				p Показатель совокупных денежных затрат AISC в 2022 году составил 1094 доллара за унцию, что выше целевого уровня по Стратегии (700 долларов за унцию), но в данном факте отражается больше внешняя макроэкономическая ситуация, не зависящая от усилий компании, — номинированные в национальной валюте расходы контролируются более эффективно.
				p Несмотря на «низкую» фазу рынка золота в 2022 году, результаты в целом свидетельствуют о сохранении операционной эффективности компании (показатель TCC в 2022 году в рублевом выражении на 0,5% ниже уровня 2020 года, а показатель AISC вырос за тот же период лишь на 17% в рублях за грамм, даже несмотря на реализацию массовой программы обновления основных фондов).
				p
					b Для достижения целевых уровней по Стратегии компания разработала программу дальнейшего сокращения издержек в период ближайших 3–6 лет и планирует достичь целей с запуском новых проектов — золотоизвлекательных фабрик на месторождениях Хвойное и Кючус, — став лидером по маржинальности по сопоставимым аналогам.
				p Среди прочих улучшений, заявленных в Стратегии, и фактически реализованных либо находящихся в стадии активной реализации, стоит отметить:
				ul
					li Мероприятия по автоматизации производственных процессов, учета, бюджетирования, что существенно улучшило управленческий учет в компании, а также повысило качество принимаемых решений.
					li Внедрение передовых практик проектирования, оптимизации горных календарей, производственных процессов. В компании появились проектные подразделения, интенсифицировались процессы принятия технических решений через создание Научно-технического совета, создание подразделения инжиниринга, применение новых программных продуктов как в управлении ресурсной базой, так и при планировании стратегических и оперативных программ и ведении самого технологического процесса.
					li Были образованы и централизованы подразделения безопасности (физической, экономической, информационной), что минимизировало риски от внешних угроз и повысило сохранность активов компании.
					li Внедрены процессы и мероприятия по повышению вовлеченности персонала, адаптации новых сотрудников, мотивационные стимулы, что позволило повысить привлекательность компании как социально-ответственного и надежного работодателя, что в итоге привело к снижению текучести кадров и позволило привлечь к работе высококвалифицированных специалистов на ряд направлений.
				p
					b Все эти мероприятия, хотя и не являются ключевыми, способствуют достижению целевых показателей Стратегии.
				p
					b В 2022 году были пересмотрены цели Стратегии и продлен срок планирования до 2030 года с учетом приобретенных новых объектов и изменившихся планов по развитию существующих. Все основные позиции Стратегии перекликаются с действовавшей в 2022 году редакцией и лишь вносят дополнительные коррективы в некоторые направления.
				p
					b По результатам 2022 года ключевые направления улучшений, необходимые для достижения целевых показателей, исполняются в соответствии с планами, и можно ожидать достижения Стратегических целей к окончанию срока планирования.

				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/proekty-razvitiya.html")   Проекты развития