extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Устойчивое развитие
			li.breadcrumb
				.breadcrumb-link Подход к вопросам устойчивого развития




	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content


				.page-top-pic
					img(src="img/new-pics/podhod-k-voprosam-ustojchivogo-razvitiya.jpg", alt="")

				h1 Устойчивое развитие

				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 84-91


				p Подход Холдинга «Селигдар» к вопросам устойчивого развития сформулирован в цели ведения деятельности, обозначенной в стратегии. «Это объединение усилий на всех уровнях управления для создания ценности и улучшения качества жизни за счет повышения эффективности работы, используя только передовые и проверенные технологии и подходы в производственном, ресурсосберегающем, социальном аспектах». <br> Деятельность Холдинга строится на принципах:

				ul
					li Создания максимально благоприятных условий для сотрудников Холдинга, способствующих личностному и профессиональному росту;
					li Ответственного отношения к окружающей среде и обществу, оптимального расходования ограниченных природных ресурсов;
					li Построения эффективной системы корпоративного управления;
					li Открытости и прозрачности бизнеса для всех заинтересованных сторон;
					li Этичного поведения и уважительного отношения ко всем контрагентам, партнерам, представителям местных сообществ;
					li Применения современных технологий и внедрения стандартов бережного производства.

				p Вопросы устойчивого развития включены в основные положения действующей Стратегии устойчивого развития. При формировании стратегии «Селигдар» применил интегральный подход - консолидировал экономические, экологические и социальные задачи в единую программу долгосрочного развития.
				p Ключевые ESG показатели 2022 года


				.simple-table-wrap
					table.simple-table.simple-table--td-minw-200

						tbody
							tr
								td(colspan='2')
									p
										b ESG-рэнкинги и индексы
							tr
								td
									p ESG рэнкинг RAEX
								td
									p 53 из 160
									p
										em (Индикативная оценка ESG рейтинга - BB)
							tr
								td
									p Рэнкинг ESG-прозрачности российских компаний Эксперт РА
								td
									p 24 из 101
							tr
								td
									p ESG-индекса РБК и НКР
								td
									p Категория I «высокий уровень»
							tr
								td
									p
										| Рейтинг открытости экологической информации горнодобывающих и металлургических компаний России Всемирного фонда дикой природы (WWF)
								td
									p 16 место из 39
							tr
								td
									p Рейтинг лучших работодателей России 2022 Forbes
								td
									p «серебряный» статус
							tr
								td
									p Рейтинг российских работодателей РБК
								td
									p ТОП-10 среди горнодобывающих предприятий
							tr
								td
									p
										| ESG-рейтинг устойчивого корпоративного управления (агентство корпоративного развития «Да Стратегия» в партнерстве с Университетом Перуджи)
								td
									p уровень А «Лучшая корпоративная ESG практика РФ»
							tr
								td(colspan='2')
									p
										b E – экологические показатели
							tr
								td(colspan='2')
									p Более 440 тыс. саженцев высажено на площади 217 га в Нерюнгринском районе Якутии
							tr
								td(colspan='2')
									p На 33% сократился удельный водозабор
							tr
								td(colspan='2')
									p
										b S – Социальные показатели
							tr
								td(colspan='2')
									p Более 3,9 тыс. сотрудников
							tr
								td(colspan='2')
									p Открыт новый физкультурно-оздоровительный комплекс на базе в г. Алдане (Якутия)
							tr
								td(colspan='2')
									p 8 новых общежитий построено на производственных комплексах
							tr
								td(colspan='2')
									p 53 млн руб. направлено на поддержку регионов и местных сообществ
							tr
								td(colspan='2')
									p
										b G – показатели корпоративного управления
							tr
								td(colspan='2')
									p 4 независимых директора в Совете директоров
							tr
								td(colspan='2')
									p 90% принципов Кодекса корпоративного управления полностью соблюдаются

				p
					b Членство в профессиональных ассоциациях, организациях
				p Холдинг «Селигдар» входит в ряд отраслевых и общественных организаций, является членом Торгово-промышленной палаты Российской Федерации, Союза старателей России и Союза золотопромышленников.



				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/delovaya-etika-i-prava-cheloveka.html")   Деловая этика и права человека