extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Стратегический отчет
			li.breadcrumb
				h1.breadcrumb-link Положение в отрасли

	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content
				p
					b  Положение в отрасли

				p
					a(href="/otchyot.pdf" target="_blank") Полный обзор читайте в Годовом отчете на стр. 38-45
				p
					b Положение на рынке золота
				p В 2022 году мировой спрос на золото (исключая внебиржевой) вырос на 18% до 4 741 т, практически достигнув уровня 2011 года, когда наблюдался экстраординарный инвестиционный спрос. Наиболее существенно потребление металла выросло в четвертом квартале до 1 337 т.
				p Спрос на золото в прочих индустриях резко упал в четвертом квартале, что привело к снижению в целом за год на 7%. Ухудшение экономических показателей в ключевых экономиках и пандемийные ограничения привели к снижению спроса на бытовую электронику и, как следствие, на золото.

				.simple-table-wrap
					table.simple-table.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap
						tbody
							tr.simple-table__blue-row
								td
									p Спрос на золото, т
								td
									p 2021
								td
									p 2022
								td
									p Изменение, %
							tr
								td
									p Ювелирная промышленность
								td
									p 2 231
								td
									p 2 190
								td
									p -2%
							tr
								td
									p Прочая промышленность
								td
									p 330
								td
									p 309
								td
									p -7%
							tr
								td
									p Инвестиционный спрос
								td
									p 1 002
								td
									p 1 107
								td
									p 10%
							tr
								td
									p Слитки и монеты
								td
									p 1 191
								td
									p 1 217
								td
									p 2%
							tr
								td
									p ETF фонды и прочие инструменты
								td
									p -189
								td
									p -110
								td
									p -42%
							tr
								td
									p Центральные банки
								td
									p 450
								td
									p 1 136
								td
									p 152%
							tr
								td
									p Итого спрос
								td
									p 4 013
								td
									p 4 741
								td
									p 18%

				p
					b Источник: World Gold Council


				.simple-pic
					img(src="img/polozhenie-v-otrasli/3.3.6.png", alt="")

				p
					b  Изменение рыночных цен
				p Средняя цена на золото в 2022 году составила 1 807 долларов за унцию, сохранившись практически на уровне 2021 года (1 800 долларов за унцию). Цены в 2022 году резко выросли в первом квартале, затем планомерно спускались к более низким уровням в результате ужесточения денежно-кредитной политики в ключевых экономиках (США, ЕС, АТР). На конец года цена установилась на уровне 1 726 долларов за унцию.

				.simple-pic
					img(src="img/polozhenie-v-otrasli/3.3.7.png", alt="")


				p
					b Производство золота в России



				.simple-table-wrap
					table.simple-table.simple-table--td-non-first-nowrap
						tbody
							tr.simple-table__blue-row
								td
									p
										b №
										br
										b  п\п
								td
									p
										b Компания
								td
									p
										b 2020
								td
									p
										b 2021
								td
									p
										b 2022
								td
									p
										b 2022/2021, %
								td
									p
										b 2022/2020, %
							tr
								td
									p
										b 1
								td
									p Полюс
								td
									p 86,0
								td
									p 84,5
								td
									p 79,0
								td
									p -6,5%
								td
									p -8,1%
							tr
								td
									p
										b 2
								td
									p Полиметалл*
								td
									p 26,8
								td
									p 26,9
								td
									p 28,3
								td
									p 5,2%
								td
									p 5,6%
							tr
								td
									p
										b 3
								td
									p Highland Gold
								td
									p 8,6
								td
									p 11,2
								td
									p 23,5
								td
									p 109,8%
								td
									p 172,3%
							tr
								td
									p
										b 4
								td
									p УГМК (оценка, с учетом Сусуманзолота)
								td
									p 13,6
								td
									p 13,9
								td
									p 21,2
								td
									p 52,9%
								td
									p 55,7%
							tr
								td
									p
										b 5
								td
									p Южуралзолото
								td
									p 13,0
								td
									p 13,2
								td
									p 14,6
								td
									p 10,8%
								td
									p 12,3%
							tr
								td
									p
										b 6
								td
									p Nordgold (золотой эквивалент)*
								td
									p 14,7
								td
									p 14,1
								td
									p 13,8
								td
									p -2,1%
								td
									p -5,8%
							tr
								td
									p
										b 7
								td
									p Petropavlovsk
								td
									p 17,1
								td
									p 14,0
								td
									p 12,3
								td
									p -12,4%
								td
									p -28,2%
							tr
								td
									p
										b 8
								td
									p Высочайший
								td
									p 8,5
								td
									p 8,6
								td
									p 8,5
								td
									p -1,1%
								td
									p 0,4%
							tr
								td
									p
										b 9
								td
									p Быстринский ГОК
								td
									p 7,5
								td
									p 8,0
								td
									p 8,0
								td
									p -0,8%
								td
									p 6,2%
							tr.simple-table__blue-row
								td
									p
										b 10
								td
									p Селигдар
								td
									p 7,0
								td
									p 7,1
								td
									p 7,55
								td
									p 6,0%
								td
									p 7,7%
							tr
								td
									p
										b  
								td
									p
										i Итого ТОП10
								td
									p
										i 202,7
								td
									p
										i 201,5
								td
									p
										i 216,7
								td
									p
										i 7,6%
								td
									p
										i 6,9%
							tr
								td
									p
										b  
								td
									p
										i Производство золото в РФ**
								td
									p
										i 340,2
								td
									p
										i 346,4
								td
									p
										i 341,0
								td
									p
										i -1,6%
								td
									p
										i 0,2%
							tr
								td
									p
										b  
								td
									p Доля ТОП10
								td
									p 59,6%
								td
									p 58,2%
								td
									p 63,5%
								td
									p 5,4
								td
									p 3,9
							tr.simple-table__blue-row
								td
									p
										b  
								td
									p Доля Холдинга "Селигдар" в России
								td
									p 2,1%
								td
									p 2,1%
								td
									p 2,2%
								td
									p  
								td
									p  


				p
					i
						| * только активы в РФ
						br
						| ** включая попутное и вторичное
						br
						| Источники: Союз Золотопромышленников России, Вестник золотопромышленника, данные компаний, оценка ПАО «Селигдар»

				p Доля Холдинга «Селигдар» в общероссийском объеме производства золота за 2022 год незначительно выросла и составила 2,2%. «Селигдар» по результатам года сохраняет десятую позицию в рэнкинге крупнейших золотодобывающих компаний в России. При этом стоит отметить, что в 2022 году качество раскрытия данных по производству как отдельных компаний, так и в целом по РФ значительно снизилось – большинство производителей либо перестали публиковать операционные и финансовые результаты на своих официальных сайтах, либо приводят приблизительные или сравнительные значения, что затрудняет точный анализ положения в отрасли.
				p
					b Положение на рынке олова
				p В 2022 году, согласно оценке Международной ассоциации олова (ITA), мировой объем производства практически не изменился год-к-году и составил 380 тыс. т. Потребление олова в последние годы варьируется от 360 до 400 тыс. т в год.
				p Цены на олово начали расти в 2021 году, когда на фоне восстановления мировых экономик и увеличения потребительского спроса на электронные домашние устройства спрос на олово укрепился. В это же время поставки металла на рынок сократились по сравнению с «доковидными» годами, что было вызвано нарушением цепочки поставок из-за дефицита морских контейнеров и невосстановившимся производством в большинстве стран из-за вспышки нового штамма коронавируса. Также одной из причин снижения производства в 2021 году являются перебои в поставках Malaysia Smelting Corporation (входит в ТОП-5 мировых производителей), включая отказ нескольких печей на плавильном заводе в Баттерворте.
				p В 2022 году рост цен на олово продолжился, по состоянию на 8 марта 2022 года цена на LME достигла пика и составила 50 тыс. долларов за т, но уже к 18 марта 2022 года скорректировалась до 42 тыс. долларов за т. В течение следующих 6 месяцев цена несколько раз продемонстрировала резкое снижение на фоне вспышек заболеваемости COVID-19 в Китае и по состоянию на 3 ноября 2022 года достигла минимального значения за год в размере 18 тыс. долларов за т. Затем цена начала расти в связи с общим укреплением доллара на фоне политики ФРС и оживления экономической активности Китая.

				.simple-pic
					img(src="img/polozhenie-v-otrasli/3.3.8.png", alt="")

				p
					b Российский рынок олова
				p Запасы
				p Российская сырьевая база олова является одной из крупнейших в мире (17% мировых запасов). Однако уровень освоения запасов находится на низком уровне (около 1% производства рафинированного олова в мире). Практически вся отечественная сырьевая база олова расположена на Дальнем Востоке.

				.simple-pic
					img(src="img/polozhenie-v-otrasli/3.3.9.png", alt="")

				p Производство олова
				p 85-90% российского производства олова в концентрате обеспечивает оловодобывающий дивизион Холдинга «Селигдар» (головная компания – ПАО «Русолово»), являющийся единственным производителем рудного олова. Еще около 10-15% приходится на компанию «Янолово», которая в 2021 году начала добычу на ручье Тирехтях в Якутии.
				p Оловянный концентрат в отечественном производстве используется в основном в качестве сырья для дальнейшей переработки до рафинированного олова. Объем внутреннего потребления в 2022 году оценивается в размере 4,4 тыс. т (2,2 тыс. т металла в концентрате) и на 95% был удовлетворен продукцией, произведенной оловодобывающим дивизионом «Селигдара».
				p
					i Положение на рынке меди и вольфрама
				p
					a( href="/otchyot.pdf" target="_blank" ) Подробности на стр. 44
