extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Корпоративное управление

			li.breadcrumb
				.breadcrumb-link Президент ПАО «Селигдар»






	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content
 
				h1 Президент ПАО «Селигдар»


				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 174

				p Президент ПАО «Селигдар» с августа 2016 года по настоящее время – Бейрит К. А

				.simple-pic
					img(src="img/persons/person-1.jpg", alt="Александр Александрович ХРУЩ")


				p Президент Общества без доверенности представляет Общество и действует в его интересах в российских и зарубежных организациях, органах государственной власти и местного самоуправления, в иных учреждениях, организациях любой организационно-правовой формы, может от имени Общества подписывать документы, которые не носят распорядительного и (или) финансового характера.


				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/ispolnitelnye-organy-upravleniya.html")   Исполнительные органы управления