extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Стратегический отчет
			li.breadcrumb
				.breadcrumb-link Проекты развития

	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content
				.page-top-pic
					img(src="img/strategiya-ustojchivogo-razvitiya.jpg", alt="")

				h1  Проекты развития

				p
					b Основные усилия «Селигдар» планирует сконцентрировать на крупных проектах развития и освоении новых месторождений, что позволит вывести бизнес Холдинга на новый уровень производства: 20 т золота и 16 тыс. т олова к 2030 году.
				p Помимо целевых уровней производственных показателей, в Стратегии определены требования к развитию и поддержанию производственных активов, производительности и эффективности производства, развитию рудной базы и автоматизации процессов, цифровизации бизнеса.
				p В течение 2022 года инвестиции Холдинга направлялись на реализацию существующих проектов развития в Республике Саха (Якутия), Хабаровском крае и реализацию новых проектов. Среди основных можно отметить проекты развития Хвойный и Самолазовский в Республике Саха (Якутия) и проекты Солнечный и Правоурмийский в Хабаровском крае. Из новых направлений — продолжение стадии геологоразведки и технологических исследований на месторождениях Кючус (золотодобывающий дивизион, Республика Саха (Якутия)) и Пыркакайские штокверки (оловодобывающий дивизион, Чукотский АО). Среди завершающихся проектов можно отметить запуск в опытно-промышленную эксплуатацию в 2022 году золотоизвлекательной фабрики производственного комплекса Поиск (Алтайский край), выход фабрики производственного комплекса Рябиновый (Республика Саха (Якутия)) на уровень мощности в 1,6 млн т в год, выход на проектные показатели по загрузке руды золотоизвлекательной фабрики производственного комплекса Сининда (Республика Бурятия).
				p На всех производственных площадках продолжились программы модернизации и реконструкции производственных фондов, а также новое строительство, в том числе в направлении улучшения условий быта работников (социальные проекты), а также для обеспечения безопасности ведения работ, минимизации воздействия на окружающую среду.

				.simple-pic
					img(src="img/proekty-razvitiya/3.3.1-min.jpg", alt="")

				.simple-pic
					img(src="img/proekty-razvitiya/3.3.2-min.jpg", alt="")


				h2 Проекты развития золотодобывающего дивизиона
				p#proizvodstvennyj-kompleks-ryabinovyj
					b  Производственный комплекс Рябиновый
				p На производственном комплексе Рябиновый реализуется проект увеличения мощности золотоизвлекательной фабрики. Основные направления работ в 2022 году были связаны с увеличением производительности фабрики до 1,6 млн т руды в год, с работами по модернизации хвостового хозяйства (увеличением производительности цеха полусухого складирования хвостов обогащения), с увеличением производительности участка кучного выщелачивания по сорбции. Затраты в 2022 году по всем объектам производственного комплекса составили около 620 млн руб.
				p В 2023 году продолжатся мероприятия по постепенному увеличению мощности золотоизвлекательной фабрики производственного комплекса до уровня переработки 1,8 млн т руды в год. В силу изменения окончательных технических решений и с учетом планов по дозакупке оборудования сроки увеличения мощности фабрики были продлены до 2025 года. Общая оценка затрат проекта составляет около 1,2–1,5 млрд руб., часть из которых была инвестирована на этапе вывода проекта на текущую мощность в 1,6 млн т в год.
				p С учетом планового снижения содержания золота в руде увеличение производственной мощности позволит сохранить объемы производства на достигнутом уровне до завершения отработки месторождения.
				p#proizvodstvennyj-kompleks-samolazovskij
					b  Производственный комплекс Самолазовский
				p На производственном комплексе Самолазовский идет реализация проекта строительства установки термоподготовки руды.
				p «Селигдар» принял решение о расширении участка путем строительства второй очереди проекта с плановой мощностью до 300 тыс. т сульфидной руды в год (окончательная производственная мощность установки будет утверждена после завершения всех проектных мероприятий). В 2023 году будет продолжено проектирование, будут финализированы проектные решения, решается вопрос в отношении обеспечения топливом новой установки.
				p С учетом нестабильной ситуации на рынке золота в 2022 году сроки реализации проекта строительства смещены на более поздние (2024–2025 годы).
				p Реализация проекта позволит расширить производственную мощность данного направления до 800–850 кг золота в пиковые годы.
				p Объем инвестиций в проект в 2022 году составил около 55 млн руб., суммарные затраты составили 550 млн руб.* Общие инвестиции во вторую очередь на текущий момент оцениваются в сумму около 1,5 млрд руб. и будут уточнены в зависимости от принятой схемы газообеспечения.
				p * Отличия с ранее опубликованными данными связаны с дополнительными инвестициями в обеспечивающую инфраструктуру, не входившую ранее в периметр проекта.
				p#proizvodstvennyj-kompleks-poisk
					b  Производственный комплекс Поиск
				p Реализуется проект фабрики с установкой по переработке кварц-карбонатных руд на месторождении Мурзинское в Алтайском крае. Установка была запущена в опытно-промышленную эксплуатацию в 2022 году и позволила вовлечь в переработку кварц-карбонатные упорные руды, что дополнительно дает до 300 кг золота в год и позволяет продлить работу объекта в перспективе ближайших трех лет.
				p Общий объем инвестиций в проект в 2022 году составил 410 млн руб. Суммарный объем инвестиций предполагается на уровне 1,0–1,1 млрд руб. с учетом модернизации вспомогательных объектов.
				p На 2023 год намечены работы по модернизации инфраструктуры (социальные объекты, энергетическая и складская инфраструктура, объекты автоматизации и обеспечения безопасности). В перспективе будет прорабатываться вопрос по увеличению сквозного извлечения золота, что дополнительно потребует инвестиций в период до 2024 года, точная сумма которых будет определена по мере проработки технологических решений.
				p#proizvodstvennyj-kompleks-sininda
					b  Производственный комплекс Сининда
				p На производственном комплексе Сининда после запуска в эксплуатацию золотоизвлекательной фабрики и установки переработки хвостов гравитации идет реализация проекта модернизации и увеличения мощности переработки.
				p С 2021 года на участке осуществляются комплексные мероприятия по техническому перевооружению, меняется парк горной техники. Проводятся мероприятия по росту производительности золотоизвлекательной фабрики до 24 т в час, что позволит увеличить объем переработки руды и производства золота.
				p Суммарные затраты по проекту в 2022 году составили 290 млн руб. В перспективе 2023 года планируется вложить дополнительно 200 млн руб. на завершение модернизационных мероприятий, что позволит увеличить извлечение золота. С учетом доразведки месторождения ожидается, что ресурсов хватит как минимум на 7 лет работы с производством на уровне 300 кг золота в год.
				h2 Стратегические проекты
				p#stroitelstvo-zif-na-mestorozhdenii-hvojnoe
					b  Строительство ЗИФ на месторождении Хвойное
				p Проект включает в себя строительство золотоизвлекательной фабрики на месторождении Хвойное в Алданском районе Республики Саха (Якутия).
				p По состоянию на конец 2022 года проект находился на стадии строительства: выполнена планировка участка, запущена пробирно-аналитическая лаборатория «Алдан», построенная в рамках реализации проекта, построены общежития для сотрудников и объекты социально-бытовой инфраструктуры. Ведутся работы по строительству остальных инфраструктурных объектов и коммуникаций (межплощадочные дороги, объекты вспомогательной инфраструктуры и линий электропередач и водовода).
				p Инвестиции в проект в 2022 году составили 2,85 млрд руб.
				p В 2023 году планируются выбор генподрядной организации и активные строительные работы основных производственных объектов, которые продлятся более 12 месяцев. Запуск объекта намечен на конец 2024 года, проектная мощность — до 3 млн т руды в год. После запуска фабрика позволит нарастить объем производства золота на 2,5 т в год и будет обеспечена запасами как минимум на 10 лет.

				.simple-pic
					img(src="img/proekty-razvitiya/3.3.3-min.jpg", alt="")

				p#osvoenie-mestorozhdeniya-kyuchus
					b  Освоение месторождения Кючус
				p Данный проект открывает новую стадию развития Холдинга: ожидаемый объем производства после выхода на проектную мощность составляет не менее 10 т золота в год.
				p Запасы месторождения Кючус составляют 175 т золота, после проведения доразведки ожидается прирост до 250–280 т.
				p В 2022 году «Селигдар» активно проводил геологоразведочные работы на месторождении. Была выполнена большая часть объема работ по бурению скважин, проведен отбор технологических проб для картирования, изучался и документировался керн. Суммарные затраты по всем направлениям работ составили около 1,6 млрд руб.
				p В 2023 году планируется начать работы по технологическим испытаниям руд, а также завершить геологоразведку. Общие затраты на стадию геологоразведки с момента начала работ оцениваются в 2,8 млрд руб.
				p Конфигурация будущего проекта будет принята по результатам завершенных технологических исследований до 2024 года.

				.simple-pic
					img(src="img/proekty-razvitiya/3.3.4-min.jpg", alt="")

				h2 Проекты развития оловодобывающего дивизиона
				p#proizvodstvennyj-kompleks-solnechnyj
					b   Производственный комплекс Солнечный
				p В 2022 году был реализован проект по рентген-абсорбционной сепарации, который позволил подавать усредненную по содержанию металла руду на переработку для достижения более высокого извлечения металла.
				p Другим важным направлением стала реализация проекта шеелитовой флотации, что позволило расширить ассортимент выпускаемой продукции и производить вольфрамовый концентрат.
				p Был модернизирован цикл рудоподготовки, расширен фронт обогащения путем установки дополнительных концентрационных столов. Были запущены линия доводки оловянного концентрата для снижения количества вредных примесей в оловянном концентрате и станция приготовления флокулянтов для стабилизации качества технологического процесса.
				p Объем инвестиций в модернизацию производственного комплекса в 2022 году составил
				p 557 млн руб. Окончание проекта модернизации фабрики запланировано на 2023 год.
				p В 2023 году планируется ввод в эксплуатацию сгустителя для обеспечения замкнутого водооборота на фабрике, внедрение на стадии обогащения шламового цикла винтовых сепараторов, ввод в эксплуатацию центробежных концентраторов на хвостовом цикле обогащения, установка высокоградиентного магнитного концентратора в схеме доводки оловянного концентрата для дальнейшего снижения количества вредных примесей в концентрате. Планируемый объем инвестиций в 2023 году составляет 733 млн руб.
				p#proizvodstvennyj-kompleks-pravourmijskij
					b   Производственный комплекс Правоурмийский
				p В 2022 году продолжилось строительство объектов инфраструктуры — автомобильной дороги между железнодорожной станцией Сулук и производственным комплексом, логистической базы на станции Сулук, главной вентиляторной установки, общежития, склада взрывчатых материалов.
				p Для достижения более высокого извлечения металла был запущен проект по внедрению рентген-абсорбционной сепарации.
				p Была произведена замена концентрационных столов в цикле доводки флотогравитации.
				p Объем инвестиций в развитие и модернизацию производственного комплекса в 2022 году составил 761 млн руб.
				p
					b  Общая сумма инвестиций оценивается в 9,7 млрд руб., срок реализации проекта рассчитан до 2028 года.
				p В 2023 году планируется реализовать проект медной флотации и расширить продуктовую линейку производственного комплекса, завершить строительство объектов инфраструктуры. Помимо этого, планируется дальнейшая модернизация, направленная на повышение извлечения металла, — установка батареи гидроциклонов, центробежных концентраторов и флотационных машин. Планируемый объем инвестиций в 2023 году составляет 714 млн руб.
				p#strategicheskij-proekt-pyrkakajskie-shtokverki
					b  Стратегический проект Пыркакайские штокверки
				p Проект освоения месторождения Пыркакайские штокверки в Чукотском автономном округе является новой фазой развития оловодобывающего дивизиона. Балансовые запасы месторождения составляют 243 тыс. т олова.
				p Геологоразведочные работы на месторождении идут с 2021 года. В 2022 году была отобрана укрупненно-лабораторная технологическая проба окисленной и полуокисленной руды, и начался отбор коренной укрупненно-лабораторной пробы методом колонкового бурения. Для разработки технологического регламента были начаты комплексные исследования отобранных проб.
				p Объем инвестиций в 2022 году составил 133 млн руб.
				p В 2023 году планируется выполнить отбор укрупненно-лабораторной технологической пробы коренной руды, завершить комплексные технологические исследования с разработкой технологического регламента, выполнить предварительное исследование и начать разработку ТЭО проекта. Планируемый объем инвестиций в 2023 году составляет 238 млн руб.
				p
					b   Перспективный проект создания металлургического производства
				p Реализация проекта создания металлургического производства позволит запустить полный цикл производства металлического олова в Хабаровском крае, тем самым создав вертикально-интегрированный кластер по добыче, переработке и выпуску металлического олова. Металлургическое производство полного цикла позволит повысить сквозное извлечение металла до уровня 75–80% и перерабатывать концентрат низкого качества с содержанием олова 10%.
				p Проектом предполагается производство металлического олова, вольфрамосодержащего и медного продукта, продуктов с попутными компонентами.
				p В 2023 году планируется разработать технологию переработки оловянных концентратов, выпускаемых на производственных комплексах оловодобывающего дивизиона, а также концентратов из руд месторождения Пыркакайские штокверки.

				.simple-pic
					img(src="img/proekty-razvitiya/3.3.5-min.jpg", alt="")



