extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Акционерный капитал

			li.breadcrumb
				.breadcrumb-link Рынок акций и капитализация





	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content

 
				h1 Рынок акций и капитализация



				p
					a(href="https://seligdar.ru/upload/investors/results-and-reports/Seligdar_2022_Annual_Report_rus.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 192-193

				p Обыкновенные акции ПАО «Селигдар» обращаются на Московской Бирже с 2011 года (тикер — ​SELG). В июле 2022 года акции были переведены из котировального списка Второго уровня в котировальный список Первого уровня. Акции входят в базу расчета ряда индексов биржи: Индекс акций широкого рынка, Индекс металлов и добычи, Индекс средней и малой капитализации, Национальный индекс корпоративного управления.
				p В марте 2022 года акционеры ПАО «Селигдар» приняли решение о дополнительной эмиссии обыкновенных акций в количестве 37 645 270 штук. Размещение прошло по закрытой подписке в пользу двух акционеров ПАО «Селигдар»: ООО «Максимус» и АО «Трежери Инвест». Акции дополнительного выпуска были выпущены в обращение в августе 2022 года, доход от эмиссии составил 1,9 млрд руб. По состоянию на к4онец 2022 года количество обыкновенных акций в обращении составило 1 030 000 000 штук.


				h2 Информация об акциях на 30.12.2022

				.simple-table-wrap
					table.simple-table.simple-table--only-horis-borders.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap

						tbody
							tr
								td
									p Код ценной бумаги
								td
									p SELG
							tr
								td
									p Полное наименование
								td
									p ПАО «Селигдар»
							tr
								td
									p ISIN код
								td
									p RU000A0JPR50
							tr
								td
									p Номер государственной регистрации
								td
									p 1-01-32694-F
							tr
								td
									p Объем выпуска, штук
								td
									p 1 030 000 000
							tr
								td
									p Номинал 1 акции
								td
									p 1,00 руб.
							tr
								td
									p Дата начала торгов
								td
									p 22.09.2011
							tr
								td
									p Уровень листинга
								td
									p 1



				h2 Вес компании в индексах Московской Биржи

				.simple-table-wrap
					table.simple-table.simple-table--only-horis-borders.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap

						tbody
							tr.simple-table__blue-row
								td  
								td
									p 30.12.2020
								td
									p 30.12.2021
								td
									p 30.12.2022
							tr
								td
									p Индекс акций широкого рынка
								td
									p 0,05 %
								td
									p 0,08 %
								td
									p 0,09 %
							tr
								td
									p Индекс средней и малой капитализации
								td
									p 1,19 %
								td
									p 1,13 %
								td
									p 1,73 %
							tr
								td
									p Индекс металлов и добычи
								td
									p 0,52 %
								td
									p 0,55 %
								td
									p 0,89 %



				h2 Рыночная капитализация на 30.12.2022

				.simple-table-wrap
					table.simple-table.simple-table--only-horis-borders.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap

						tbody
							tr
								td
									p Цена акций
								td
									p 43,6 руб.
							tr
								td
									p Рыночная капитализация
								td
									p 44 908 млн руб.




				p  На фоне общего падения рынка акций в 2022 году произошло снижение котировок акций компании, при этом динамика акций ПАО «Селигдар» была лучше рынка.

				h2 Динамика акций ПАО «Селигдар» по сравнению с биржевыми индексами

				.simple-pic
					img(src="img/6.3.png", alt="")

				p Ликвидность акций компании существенно выросла в 2022 году. Средний дневной объем торгов составил 36,3 млн руб. по сравнению с 18,9 млн руб. в 2021 году (25,2 млн руб. с учетом привилегированных акций, которые были конвертированы в обыкновенные в декабре 2021 года). Объем торгов акциями за 2022 год составил 8,4 млрд руб.
				p В ноябре 2022 года акции ПАО «Селигдар» вошли в рэнкинг РБК — ​100 крупнейших российских публичных компаний по объему торгов, основанный на совокупном объеме торгов их акциями или расписками на Московской Бирже за девять месяцев 2022 года. В рэнкинге «Селигдар» занял 66-е место.
				h2 Объем торгов обыкновенными акциями ПАО «Селигдар»

				.simple-table-wrap
					table.simple-table.simple-table--only-horis-borders.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap

						tbody
							tr.simple-table__blue-row
								td  
								td
									p 2020
								td
									p 2021
								td
									p 2022
							tr
								td
									p Объем торгов за год, млн руб.
								td
									p 6 517
								td
									p 4 811
								td
									p 8 431
							tr
								td
									p Среднедневной объем торгов, млн руб.
								td
									p 26,1
								td
									p 18,9
								td
									p 36,3
							tr
								td
									p Медианный дневной объем торгов, млн руб.
								td
									p 11,6
								td
									p 6,7
								td
									p 22,7



				h2 Объем торгов обыкновенными и привилегированными акциями ПАО «Селигдар»

				.simple-table-wrap
					table.simple-table.simple-table--only-horis-borders.simple-table--td-first-minw-200.simple-table--td-non-first-nowrap

						tbody
							tr.simple-table__blue-row
								td  
								td
									p 2020
								td
									p 2021
								td
									p 2022
							tr
								td
									p Объем торгов за год, млн руб.
								td
									p 8 513
								td
									p 6 424
								td
									p 8 431
							tr
								td
									p Среднедневной объем торгов, млн руб.
								td
									p 34,1
								td
									p 25,2
								td
									p 36,3
							tr
								td
									p Медианный дневной объем торгов, млн руб.
								td
									p 14,4
								td
									p 10,4
								td
									p 22,7



				p Примечание: в декабре 2021 года привилегированные акции были конвертированы в обыкновенные.


				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/vzaimodejstvie-s-investorami-i-akcionerami.html")   Взаимодействие с инвесторами и акционерами