extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Корпоративное управление

			li.breadcrumb
				.breadcrumb-link Система комплаенс






	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content
 
				h1 Система комплаенс

				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 183-185

				h2 Система раскрытия информации


				p Информационная прозрачность является одним из важных элементов корпоративного управления и существенным фактором, влияющим на инвестиционную привлекательность Общества. В Обществе действует
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")    Положение об информационной политике.
				p В Обществе действует также Положение об обязательном раскрытии информации ПАО «Селигдар», регламентирующее порядок и сроки раскрытия информации в рамках Положения Банка России от 27.03.2020 № 714-П «О раскрытии информации эмитентами эмиссионных ценных бумаг».
				p В течение 2022 года Общество своевременно и в полном объеме раскрывало все сведения в соответствии с законодательством о ценных бумагах, кроме информации о сделках с санкционными банками, раскрываемой Обществом в ограниченном составе и объеме в рамках Постановления Правительства РФ от 12.03.2022 № 351, в связи с тем, что раскрытие эмитентом информации могло привести к введению мер ограничительного характера в отношении эмитента и (или) иных лиц, в том числе к введению мер ограничительного характера в отношении лица, о котором эмитентом раскрывается и (или) предоставляется информация.
				p В целях реализации принципов прозрачности и информационной открытости ПАО «Селигдар» в сети Интернет
					a(href="https://www.e-disclosure.ru/portal/company.aspx?id=12557" target="_blank")  www.e-disclosure.ru/portal/company.aspx?id=12557
					|  и на сайте seligdar.ru регулярно размещались информационные сообщения (пресс-релизы) о важных для акционеров и инвесторов Общества существенных событиях. В разделе «Раскрытие информации» размещались отчеты эмитента и годовой отчет Общества, сообщения о существенных фактах, информация об итогах Общих собраний акционеров, списки аффилированных лиц Общества, новые внутренние положения и эмиссионные документы, дивидендная история. Следуя рекомендациям Правил листинга ПАО «Московская Биржа», на сайте Общества создан отдельный раздел для акционеров и инвесторов, в котором размещаются информационные сообщения, материалы и итоги по состоявшимся для инвесторов и акционеров не менее чем за последние 12 месяцев событиям, а также календарь инвестора. Контакты для инвесторов размещены в отдельном подразделе.
				p Общество не ограничивается обязательным раскрытием информации в соответствии с требованиями законодательства и взаимодействует с акционерами, инвесторами, аналитиками и другими заинтересованными сторонами посредством различных информационных каналов и мероприятий (дополнительное раскрытие).
				h2 Принципы информационной политики:
				ul
					li Принцип равноправия
					li Принцип регулярности и оперативности
					li Принцип полноты
					li Принцип достоверности
					li Принцип объективности
					li Принцип доступности
					li Принцип сбалансированности
					li Принцип нейтральности
					li Принцип защищенности
				h2 Защита инсайдерской информации


				p С целью предотвращения неправомерного использования информации в Обществе действует
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")    Положение об инсайдерской информации
					|  , а также
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")  Перечень инсайдерской информации
					| . В соответствии с Положением инсайдеры Общества обязаны принимать все зависящие от них меры к защите и недопущению неправомерного использования и распространения инсайдерской информации.
				p В целях определения порядка доступа к инсайдерской информации, правил охраны ее конфиденциальности и контроля за соблюдением требований Федерального закона от 27 июля 2010 года №224-ФЗ и принятых в соответствии с ним нормативных актов, Совет директоров утвердил Правила внутреннего контроля по предотвращению, выявлению и пресечению неправомерного использования инсайдерской информации и (или) манипулирования рынком ПАО «Селигдар», а также Условия совершения операций с финансовыми инструментами инсайдерами ПАО «Селигдар» и связанными с ними лицами. Данные Правила определяют систему функционирования внутреннего контроля в целях предотвращения, выявления и пресечения неправомерного использования инсайдерской информации и (или) манипулирования рынком.
				h2 Контроль за крупными сделками и сделками, в совершении которых имеется заинтересованность
				p В ПАО «Селигдар» функционирует система внутреннего контроля за совершением сделок. Принятое Положение о договорной работе в ПАО «Селигдар» регламентирует единый порядок согласования, заключения и исполнения договоров, заключаемых от имени Общества. Проекты договоров проходят корпоративную экспертизу с целью соблюдения законодательства Российской Федерации при их заключении.
				p Все сделки, требовавшие одобрения органов управления Общества, получили такое согласие с учетом соблюдения требований Устава и Положения о конфликте интересов в ПАО «Селигдар» и его дочерних и зависимых обществах. Конфликт интересов при совершении указанных сделок отсутствовал.
				p В приложении №2 к Годовому отчету приведен перечень сделок, заключенных ПАО «Селигдар» в 2022 году и признаваемых в соответствии с Федеральным законом «Об акционерных обществах» крупными сделками и сделками, в совершении которых имеется заинтересованность, а также представлены сведения о наиболее существенных сделках, совершенных ПАО «Селигдар» и подконтрольными ему юридическими лицами.

				h2 Противодействие коррупции и регулирование возможного конфликта интересов

				p В соответствии с последними требованиями законодательства разработана и введена в действие новая редакция антикоррупционной политики (утверждена решением Совета директоров ПАО «Селигдар» 08.06.2022 г.). Политика определяет ключевые принципы и требования, направленные на предотвращение коррупционных проявлений, соблюдение норм применимого антикоррупционного законодательства его работниками и иными лицами, действующими от имени Холдинга «Селигдар». «Селигдар» открыто размещает действующую политику в свободном доступе на своем сайте в информационно-коммуникационной сети Интернет –
					a(href="https://seligdar.ru/for-investors/disclosure/officialdocs/")  https://seligdar.ru/for-investors/disclosure/officialdocs/
					| .
				p Указанная политика распространяется и действует на всех предприятиях Холдинга.
				p Фактов нарушений антикоррупционного законодательства, коррупционных проявлений и наличия конфликта интересов в 2022 году в Холдинге и его дочерних и зависимых обществах не выявлено.


				hr
				p
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")  Положение об информационной политике
				p
					a(href="https://www.e-disclosure.ru/portal/company.aspx?id=12557" target="_blank")  Страница раскрытия информации ПАО «Селигдар» на сайте информационного агентства «Интерфакс»
				p  Полный текст документов представлен на сайте Компании
				p
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")  Положение об инсайдерской информации
				p
					a(href="https://seligdar.ru/investors/disclosure/official-documents/" target="_blank")  Перечень инсайдерской информации
				p
					a(href="http://seligdar.ru/for-investors/disclosure/officialdocs/" target="_blank")  Антикоррупционная политика

				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/cennye-bumagi-i-struktura-akcionernogo-kapitala.html")   Ценные бумаги и структура акционерного капитала