extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.breadcrumbs-wrap
		ul.breadcrumbs
			li.breadcrumb
				.breadcrumb-link Корпоративное управление

			li.breadcrumb
				.breadcrumb-link Система корпоративного управления







	.main-block-flex
		//.main-block-flex__left
			.left-content
				.left-content-pic
					img.left-content-pic__img.left-content-pic__img--mob-w143(src="img/president.jpg", alt="")
					.left-content-pic__desc Президент ПАО «Селигдар»
									p  Константин Александрович
									p  БЕЙРИТ

				.left-content-quote В 2022 году ПАО «Селигдар» удалось выполнить основные поставленные цели в рамках текущей стратегии развития и добиться приемлемых результатов. Несмотря на экономические сдвиги и ограничения, нами установлен новый рекорд по производству золота – более 7,5 т, на 6% больше уровня 2021 года.
		.main-block-flex__right.main-block-flex__right--fw
			.right-content

 
				h1 Система корпоративного управления




				p
					a(href="/otchyot.pdf" target="_blank")  Полный обзор читайте в Годовом отчете на стр. 152-153


				p  Система корпоративного управления ПАО «Селигдар» основана на единых корпоративных стандартах, разработанных в соответствии с требованиями действующего законодательства Российской Федерации, Устава Общества, требованиями листинга Московской Биржи, рекомендаций российского Кодекса корпоративного управления. Система нацелена на обеспечение долгосрочного устойчивого развития Холдинга, обеспечение реализации прав акционеров, создание и сохранение доверительных отношений с инвесторами, а также увеличение стоимости акций и рост дивидендной доходности.

				p Ключевые принципы корпоративного управления
				ul
					li уважение и защита прав и законных интересов акционеров;
					li информационная открытость;
					li финансовая прозрачность;
					li последовательность и коллегиальность в принятии решений;
					li непринятие коррупции;
					li корпоративная социальная ответственность.

				h2 Структура органов управления и контроля

				.simple-pic
					img(src="img/5.1.png", alt="")

				.next-page-btn-wrap
					a.next-page-btn.js-change-page(href="/razvitie-i-sovershenstvovanie-praktiki-korporativnogo-upravleniya.html")   Развитие и совершенствование практики корпоративного управления