input,
button,
textarea {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

* {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}


body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #000;
	background: #f9f2e3;
	font-family: $mainFont;
	font-size: 15px;
	line-height: 136.523%;
}

.main {
	flex-grow: 1;
}

html,
body {
	height: 100%;
}

.container {
	box-sizing: border-box;
	width: 981px;
	max-width: 95%;
	max-width: calc(100% - 30px * 2);
	margin: 0 auto;
}

@media screen and (max-width: 550px) {
	.container {
		max-width: calc(100% - 15px * 2);
	}
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	-webkit-locale: auto;
	white-space: normal;

	&.compensate-for-scrollbar {
		overflow: hidden;
	}
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

$animBP:900px;
$minanimBP:901px;

$mob:1300px;
$minmob:1301px;

.body-ratio-type {

	&--1 {
		.animated-bg__inner {}
	}

	&--2 {

		.animated-bg__inner {
			@media screen and (min-width:$minanimBP) {
				top: 15%;
			}
		}
	}

	&--3 {
		.animated-bg__inner {
			@media screen and (min-width:$minanimBP) {
				top: 20%;
			}
		}
	}

	&--mob {
		&-2 {
			.animated-bg__inner {
				@media screen and (max-width:$animBP) {
					top: 15%;
				}
			}
		}

		&-3 {
			.animated-bg__inner {
				@media screen and (max-width:$animBP) {
					top: 25%;
				}
			}
		}

		&-4 {
			.animated-bg__inner {
				@media screen and (max-width:$animBP) {
					top: 35%;
				}
			}
		}

		&-5 {
			.animated-bg__inner {
				@media screen and (max-width:$animBP) {
					top: 65%;
				}
			}
		}
	}
}

.animated-bg {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;

	&__inner {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&__art {
		position: absolute;
		bottom: -150vh;
		height: auto;
		transform: translateX(-50%);
		max-width: unset;
		transition: bottom ease 1.1s;

		&--desktop {
			@media screen and (min-width:$minanimBP) {}

			@media screen and (max-width:$animBP) {
				display: none !important;

			}
		}

		&--mob {
			@media screen and (min-width:$minanimBP) {
				display: none !important;

			}

			@media screen and (max-width:$animBP) {}
		}

		&--1 {
			//top: calc(100% + 573px);
			left: 50%;
			width: 100%;
			height: auto;
			background: #EBDBBE;
			z-index: 8;
			padding-top: 62.7%;

			@media screen and (max-width:$animBP) {
				padding-top: 170.7%;
			}

			&.animated-bg__art--activated {
				//bottom: calc(-(vw(#{$dh}-248)vw));
				bottom: vw(-214)*1vw;

				@media screen and (max-width:$animBP) {
					bottom: 0;

				}
			}
		}

		&--2 {
			//top: calc(100% + 1962px);
			//left: 50%-(convertHorizL(241)*1%);
			//width: 100%+(convertHorizL(262)*1%);
			//width: (convertHorizL(1774)*1%);
			width: auto;
			height: vw(798)*1vw;

			//left: 42.7vw;
			left: 50vw-(vw(110)*1vw);
			z-index: 10;
			transition-delay: 0.1;

			@media screen and (max-width:$animBP) {
				height: vwmob(842)*1vw;
				left: 50vw-(vwmob(91)*1vw);

			}

			&.animated-bg__art--activated {
				//bottom: calc((vw(#{$dh}-248)vw));
				bottom: vw(-233)*1vw;

				@media screen and (max-width:$animBP) {
					bottom: vwmob(-287)*1vw;
				}
			}
		}

		&--3 {
			//top: calc(100% + 3106px);
			//left: 50%-(convertHorizL(41)*1%);
			//width: 80.687%;
			width: auto;
			height: vw(587)*1vw;
			left: 50vw-(vw(166)*1vw);
			z-index: 12;
			transition-delay: 0.2;

			@media screen and (max-width:$animBP) {

				height: vwmob(632)*1vw;
				left: 50vw-(vwmob(434)*1vw);
			}

			&.animated-bg__art--activated {
				//bottom: convertVertH(-126)*1%;
				bottom: vw(-126)*1vw;

				@media screen and (max-width:$animBP) {
					bottom: vwmob(-149)*1vw;
				}
			}
		}

		&--4 {
			//width: 59.589%;
			width: auto;
			height: vw(403)*1vw;
			z-index: 14;
			left: 50vw-(vw(196)*1vw);
			transition-delay: 0.2;

			@media screen and (max-width:$animBP) {
				height: vwmob(523)*1vw;
				left: 50vw-(vwmob(401)*1vw);
			}

			&.animated-bg__art--activated {
				bottom: vw(-85)*1vw;

				@media screen and (max-width:$animBP) {
					bottom: vwmob(-101)*1vw;
				}
			}
		}

		&--5 {
			//left: 18.849%;
			z-index: 15;
			//width: 22.22%;
			width: auto;
			height: vw(240)*1vw;
			left: 50vw-(vw(303)*1vw);
			transition-delay: 0.3;

			@media screen and (max-width:$animBP) {

				height: vwmob(363)*1vw;
				left: 50vw-(vwmob(163)*1vw);
			}

			&.animated-bg__art--activated {
				//bottom: convertVertH(-84)*1%;
				bottom: vw(-84)*1vw;

				@media screen and (max-width:$animBP) {

					bottom: vwmob(-196)*1vw;
				}
			}
		}

		&--6 {
			left: 50vw+(vw(499)*1vw);
			z-index: 11;
			width: auto;
			height: vw(201)*1vw;
			transition-delay: 0.4;

			@media screen and (max-width:$animBP) {

				height: vwmob(110)*1vw;
				left: 50vw+(vwmob(111)*1vw);
			}

			&.animated-bg__art--activated {
				bottom: vw(203)*1vw;

				@media screen and (max-width:$animBP) {

					bottom: vwmob(342)*1vw;
				}
			}
		}

		&--7 {
			left: 50vw+(vw(299)*1vw);
			z-index: 13;
			width: auto;
			height: vw(175)*1vw;
			transition-delay: 0.5;

			@media screen and (max-width:$animBP) {

				height: vwmob(110)*1vw;
				left: 50vw+(vwmob(29)*1vw);
			}

			&.animated-bg__art--activated {
				bottom: vw(68)*1vw;

				@media screen and (max-width:$animBP) {

					bottom: vwmob(232)*1vw;
				}
			}
		}

	}

	&--active {}

	&__text-container {
		display: block;
		position: absolute;
		//left: 30vw;
		//bottom: vw(562)*1vw;
		z-index: 20;
		left: 28.9vw;
		bottom: -100vw;
		transition: bottom ease 1.1s;
		z-index: 8;

		@media screen and (max-width:$animBP) {
			left: 32px;
			width: calc(100% - 32px * 2);
			z-index: 23;

		}

		&--activated {
			bottom: 37vw;

			@media screen and (max-width:$animBP) {
				//bottom: calc(#{vwmob(702)} * 1vw - 174px);
				bottom: calc(186vw - 174px);
			}

			@media screen and (max-width:366px) {
				bottom: calc(186vw - 158px);
			}
		}
	}

	&__text-1 {
		color: #C3A06E;
		font-size: 84.912px;
		font-size: vw(84.912)*1vw;
		font-weight: 700;
		line-height: 136.523%;

		@media screen and (max-width:$animBP) {
			font-size: 38.069px;
		}


		@media screen and (max-width:366px) {
			font-size: 28.069px;
		}

	}

	&__text-2 {
		color: #FFF;
		font-size: 21.409px;
		font-size: vw(21.409)*1vw;
		text-transform: uppercase;
		line-height: 136.523%;
		margin-left: 0.5vw;
		transition: bottom ease .8s;
		transition-delay: .7s;

		margin-top: vw(38)*1vw;

		@media screen and (max-width:$animBP) {
			margin-top: 43px;
			font-size: 16.638px;
		}
	}
}



.main-content {
	display: flex;
	position: absolute;
	overflow: hidden;
	left: 43px;
	top: 43px;
	width: calc(100% - 43px - 51px);
	height: calc(100% - 43px*2);
	border: 1px solid #000;
	z-index: 20;
	opacity: 0;
	transition: opacity .3s;

	@media screen and (max-width:$mob) {
		border: none;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&--active {
		opacity: 1;
	}

	&__flex {
		display: flex;
		width: 100%;
		height: 100%;
	}
}

.sidebar {
	display: block;
	background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
	backdrop-filter: blur(25.5px);
	height: auto;
	overflow: hidden;
	transition: all .7s ease;
	max-width: 0;

	@media screen and (max-width:$mob) {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		max-width: 100%;
		background: none;
		backdrop-filter: none;
		z-index: 20;
	}

	&--mob-opened {
		@media screen and (max-width:$mob) {
			.sb-main {
				opacity: 1;
				pointer-events: all;
				max-height: calc(100% - 53px);
			}

			~.main-block {
				opacity: 0 !important;
			}
		}
	}



	&--active {

		@media screen and (min-width:$minmob) {
			max-width: 500px;

			.sb-top__logo {
				transform: translateX(0);
				opacity: 1;

			}
		}

		@media screen and (max-width:$mob) {
			.sb-top__logo {
				opacity: 1;

			}

			.sb-top::before {
				top: 0;
			}

			.sh-burger {
				top: 0;
			}
		}
	}


	&__content {
		width: 287px;
		min-width: 287px;
		height: 100%;
		display: flex;
		flex-direction: column;

		@media screen and (max-width:$mob) {
			width: 100%;
		}
	}
}

.sb-top {
	padding: 54px 72px 20px;
	overflow: hidden;
	flex-shrink: 0;
	pointer-events: all;

	@media screen and (max-width:$mob) {
		padding: 0;
		height: 53px;
		display: flex;
		align-items: center;
		padding-left: 27px;
		padding-right: 33px;
		justify-content: space-between;
		//padding-top: 7px;
		position: relative;
	}

	&__logo {
		width: 100%;
		transform: translateX(-100%);
		opacity: 0;
		transition: all .5s ease;

		@media screen and (max-width:$mob) {
			width: 123px;
			transform: none;
			z-index: 2;
		}
	}

	@media screen and (max-width:$mob) {
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(107deg, #FFF 0%, rgba(255, 255, 255, 0.00) 95.80%);
			backdrop-filter: blur(22px);
			z-index: 1;
			top: -100px;
			transition: top .3s ease;
		}
	}

}


.sh-burger {
	position: relative;
	display: none;
	width: 24px;
	height: 19px;
	cursor: pointer;
	transition: top .3s ease;
	top: -100px;

	@media screen and (max-width:$mob) {
		display: block;
		z-index: 2;
	}

	span,
	span::before,
	span::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 3px;
		margin-top: 0;
		margin-left: -12px;
		background-color: #5F5C5C;
		border-radius: 3px;
	}

	span::before,
	span::after {
		content: '';
		transition: 0.2s;
	}

	span::before {
		transform: translateY(-8px);
	}

	span::after {
		transform: translateY(6px);
	}

	&--active {

		span {
			height: 0;

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}



.sb-main {
	flex-grow: 1;
	//max-height: calc(100% - 53px - 102px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding-top: calc(42.8vh - 88px - 102px - 53px);
	justify-content: flex-start;


	@media screen and (max-width:$mob) {
		pointer-events: none;
		max-height: 0;
		transition: all .4s ease;
		padding: 0;
		height: 100%;
		background: linear-gradient(107deg, #FFF 0%, rgba(255, 255, 255, 0.00) 95.80%);
		backdrop-filter: blur(22px);
	}

	&__inner {

		overflow: auto;
		max-height: 100%;
	}
}

.simplebar-scrollbar:before {
	left: 7px;
}

.sb-menu {
	padding: 0 28px;

	padding-bottom: 30px;

	@media screen and (max-width:$mob) {

		padding: 43px 33px;
	}
}

.sb-accordion {
	&--active {
		.sb-accordion-top {
			&::after {
				transform: rotate(-180deg);
			}

		}

		&+.sb-accordion {}
	}

	&+.sb-accordion {
		margin-top: 15px;

		@media screen and (max-width:$mob) {
			margin-top: 22px;
		}
	}
}

.sb-accordion-top {
	position: relative;
	cursor: pointer;
	padding-right: 32px;

	&::after {
		content: '';
		display: block;
		position: absolute;
		right: 13px;
		top: 5px;
		width: 13px;
		height: 8px;
		background: url(../img/arrow-acc.svg) no-repeat center center;
		background-size: contain;
		transition: transform .3s;

		@media screen and (max-width:$mob) {

			right: 4px;
			top: 7px;
			width: 19px;
			height: 12px;
		}
	}

	&--link {
		padding-right: 0px;

		&::after {
			display: none;
		}
	}
}

.sb-accordion-title {
	color: #000;
	font-size: 14px;
	font-family: $gilFont;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	@media screen and (max-width:$mob) {

		font-size: 20.081px;
	}
}

.sb-accordion-main {
	display: none;

	&__inner {
		padding: 17px 0px 9px;

		@media screen and (max-width:$mob) {
			padding: 23px 0 12px;
		}
	}
}

.sb-menu-list {
	list-style: none;
}

.sb-menu-list-item {
	padding-left: 30px;
	position: relative;
	list-style: none;
	width: 172px;
	max-width: 100%;

	@media screen and (max-width:$mob) {
		width: 100%;
		padding-left: 43px;
	}

	&::before {
		content: '';
		display: block;
		width: 6px;
		height: 6px;
		background: #F2CA81;
		position: absolute;
		left: 16px;
		top: 3px;

		@media screen and (max-width:$mob) {
			width: 9px;
			height: 9px;
			left: 23px;
			top: 7px;
		}
	}

	&__link {
		color: #676767;
		font-size: 11px;
		font-family: $gilFont;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		display: block;
		transition: opacity .3s;

		@media screen and (max-width:$mob) {

			font-size: 15.778px;
		}

		&:hover {
			opacity: .7;
		}
	}

	&+.sb-menu-list-item {
		margin-top: 11px;

		@media screen and (max-width:$mob) {

			margin-top: 16px;
		}
	}
}

.sb-bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 20px;
	flex-shrink: 0;


	@media screen and (max-width:$mob) {
		display: none;
	}

	&__info {
		padding: 0 27px 19px;
		color: #FFF;
		font-size: 11px;
		font-family: $gilFont;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	&__pdf {
		width: 33px;
		height: auto;
		display: block;
		line-height: 0;
		transition: opacity .3s;

		&:hover {
			opacity: .7;
		}
	}
}



.main-block {

	background: #FFF;
	width: calc(100% - 287px);

	height: 100%;
	max-height: 100%;
	overflow: hidden;
	position: relative;
	opacity: 0;
	top: 100vh;
	transition: opacity .7s ease, background-color .7s ease, top .7s ease;

	@media screen and (max-width:$mob) {
		position: absolute;
		top: 53px;
		height: calc(100% - 53px);
		width: 100%;
	}

	&--active {
		@media screen and (min-width:$minmob) {

			opacity: 1;
			top: 0;

			.breadcrumbs {
				top: 0;
			}
		}

		@media screen and (max-width:$mob) {
			opacity: 1;
		}

	}

	&--ajax-loading {
		&::before {
			opacity: 1 !important;
			pointer-events: all;
		}

	}

	&__inner {
		height: 100%;
		max-height: 100%;
		overflow: auto;
		padding: 33px 98px 116px 73px;

		@media screen and (max-width: 1300px) {
			padding: 33px 55px 55px 50px;
		}

		@media screen and (max-width:$mob) {
			padding: 22px 26px;
		}

	}


	@media screen and (min-width:$minmob) {

		.simplebar-track.simplebar-vertical {
			width: 34px;
			background: #F3F3F3;

		}

		.simplebar-scrollbar {
			&:before {
				left: 0;
				background: #FAFAFA;

			}
		}
	}

	&::before {
		z-index: 999;
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		pointer-events: none;
		opacity: 0;
		transition: opacity .5s ease;
	}
}

.breadcrumbs-wrap {
	overflow: hidden;
	position: relative;
	width: 663px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	&--page-with-sb {
		width: 100%;
	}
}

.breadcrumbs {
	list-style: none;
	position: relative;
	top: -500px;
	transition: opacity .7s ease, top .7s ease;
	transition-delay: .4s;


	@media screen and (max-width:$mob) {
		top: 0;
	}

}

.breadcrumb {
	display: inline-block;
	list-style: none;

	&:last-child {
		.breadcrumb-link::after {
			display: none;
		}
	}
}

.breadcrumb-link {
	color: #999;
	font-size: 11px;
	font-family: $gilFont;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	@media screen and (max-width:$mob) {

		font-size: 11px;
	}

	&::after {
		display: inline-block;
		content: '//';
		color: #000;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-left: 10px;
		margin-right: 3px;
		transform: translateY(2px);

		@media screen and (max-width:$mob) {
			font-size: 14px;

		}
	}
}

.main-block-flex {
	margin-top: 82px;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width:$mob) {
		display: block;
		margin-top: 17px;
	}

	&__left {
		width: 290px;

		@media screen and (max-width:$mob) {
			width: 100%;
		}
	}

	&__right {
		width: calc(100% - 103px - 290px);

		@media screen and (max-width: 1300px) {
			width: calc(100% - 103px - 221px);

		}

		@media screen and (max-width:$mob) {
			width: 100%;
		}

		&--fw {
			width: 100%;
		}

	}
}

@media screen and (max-width:$mob) {}

.left-content {}

.left-content-pic {
	width: 100%;

	&__img {
		max-width: 100%;
		height: auto;
		width: 100%;

		@media screen and (max-width:$mob) {
			&--mob-w143 {
				width: 143px;
			}

		}
	}

	&__desc {

		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: 136.523%;
		margin-top: 21px;

		@media screen and (max-width:$mob) {
			width: 250px;
			font-size: 12px;
			line-height: 134.523%;
			margin-top: 17px;
		}
	}
}

.left-content-quote {
	margin-top: 55px;
	color: #797979;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 133.523%;
	display: block;
	position: relative;
	width: 273px;
	max-width: 100%;

	@media screen and (max-width:$mob) {

		font-size: 12px;
		margin-top: 20px;
		margin-left: 40px;
		margin-right: 0;
		width: auto;
		line-height: 134.523%;
	}

	&::before {
		content: '';
		display: block;
		background: url(../img/quote.svg) no-repeat center center;
		background-size: contain;
		width: 24px;
		height: 27px;
		position: absolute;
		left: -35px;
		top: -9px;

		@media screen and (max-width:$mob) {

			left: -37px;
			top: 1px;
		}
	}
}

.right-content {
	color: #000;
	font-size: 15px;
	font-style: normal;
	line-height: 133.523%;
	margin-top: -8px;
	width: 663px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;



	@media screen and (max-width: 1300px) {
		margin-top: -4px;
	}

	@media screen and (max-width:$mob) {
		/*	margin-top: 41px;
		font-size: 12px;*/
		font-size: 15px;
		line-height: 20px;
	}

	&--with-sidebar {
		width: 100%;
	}


	h1,
	h2,
	h3 {
		color: #848484;
		font-size: 75px;
		font-family: 'Ristretto Slab Pro', sans-serif;
		font-weight: 600;
		letter-spacing: -1.5px;
		margin-top: 69px;

		display: block;



		@media screen and (max-width:$mob) {
			font-size: 45px;
			font-weight: 600;
			line-height: normal;
			letter-spacing: -0.9px;
			margin-top: 37px;
		}

		&+* {
			margin-top: 41px !important;

			@media screen and (max-width:$mob) {
				margin-top: 14px !important;
			}
		}

		&:first-child {
			margin-top: 0 !important;
		}
	}

	h1 {
		line-height: 1;
	}

	h2 {
		font-size: 35px;
		line-height: 93.5%;
		margin-top: 40px;

		@media screen and (max-width:$mob) {
			font-size: 24px;
			line-height: 91.5%;
			margin-top: 44px;
		}

		&+* {
			margin-top: 16px !important;

			@media screen and (max-width:$mob) {
				margin-top: 14px !important;
			}
		}
	}

	h3 {
		font-size: 25px;
		line-height: 93.5%;
		margin-top: 36px;

		@media screen and (max-width:$mob) {
			//font-size: 15px;
			font-size: 19px;
			line-height: 91.5%;
			margin-top: 26px;
		}

		&+* {
			margin-top: 16px !important;

			@media screen and (max-width:$mob) {
				margin-top: 14px !important;
			}
		}
	}

	&>*+* {
		margin-top: 15px;

		@media screen and (max-width:$mob) {}
	}

	.big-text {
		font-size: 30px;
		//line-height: 1.2;
		line-height: 133.523%;

		@media screen and (max-width:$mob) {
			font-size: 23px;
		}
	}

	ul {
		list-style: none;

		li {
			list-style: none;
			padding-left: 15px;
			position: relative;

			&::before {
				content: '';
				display: block;
				width: 6px;
				height: 6px;
				background: #f2ca81;
				position: absolute;
				left: 0;
				top: 6px;
			}

			&+li {
				margin-top: 5px;
			}
		}
	}
}


.main-block-flex {

	a {
		color: #f2ca81;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.geog-map,
.simple-pic {
	position: relative;
	z-index: 1;
	margin-top: 30px;

	&+p,
	&+img,
	&+* {
		margin-top: 30px;
	}

	img {
		width: 100%;
		height: auto;
		z-index: 2;
		position: relative;
	}

	&--w500 {
		width: 500px;
		max-width: 100%;
	}

	svg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 3;

		rect {
			cursor: pointer;
			fill: rgba(255, 255, 255, 0.001);
		}
	}
}

.simple-pic {
	img {
		width: auto;
	}
}


.simple-table-wrap {
	position: relative;
	overflow: hidden;
	overflow-x: auto;
	margin-top: 30px;

	//margin-left: -127px;
	//width: calc(100% + 127px + 152px );
	width: calc(100vw - 587px);
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	@media screen and (max-width:$mob) {
		width: 100%;
		margin-top: 38px;
	}


	&+p,
	&+.after-table-text,
	&+img,
	&+* {
		margin-top: 37px;
	}
}

/*
.simple-table {
	width: auto;
	max-width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border-collapse: collapse;
	min-width: 100%;

	tr {}

	th,
	td {
		padding: 10px;
		text-align: left;
		color: #000;
		border: 1px solid #000;
		vertical-align: top;


		@media (max-width: 768px) {
			padding: 10px;
		}

		p+p {
			margin-top: 20px;
		}
	}

	&--only-horis-borders {

		th,
		td {

			border-left: none;
			border-right: none;
		}

	}

	&--td-minw-200 {
		td {
			min-width: 200px;
		}
	}

	&--td-first-minw-200 {
		td {
			&:first-child {
				min-width: 200px;
			}
		}
	}

	&--td-non-first-nowrap {
		td {
			&:not(:first-child) {
				white-space: nowrap;
			}
		}
	}

	&--tac {

		td {
			text-align: center;
		}
	}

	&__blue-row,
	&__blue-row th,
	&__blue-row td {
		background: #D9D9D9;
	}
}*/

.simple-table {
	width: auto;
	max-width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border-collapse: collapse;
	min-width: 100%;

	tr {}

	th,
	td {
		padding: 20px 22px 20px 22px;
		height: 60px;
		text-align: left;
		color: #000;
		border: 1px solid #000;
		border-left: none;
		border-right: none;
		vertical-align: top;

		//vertical-align: middle;
		@media screen and (max-width:$mob) {}


		@media (max-width: 768px) {
			//padding: 10px;
		}

		p+p {
			margin-top: 15px;
		}
	}




	&--td-minw-200 {
		td {
			min-width: 200px;
		}
	}

	&--td-first-minw-200 {
		td {
			&:first-child {
				min-width: 200px;
			}
		}
	}

	&--td-non-first-nowrap {
		td {
			&:not(:first-child) {
				white-space: nowrap;
			}
		}
	}

	&--tac {

		td {
			text-align: center;
		}
	}

	&__blue-row {

		&,
		th,
		td {
			background: #D9D9D9;
			border: none;
			position: relative;
			padding: 18px;
			height: 56px;
		}

		th,
		td {
			position: relative;

			&:not(:last-child) {
				&::before {
					content: '';
					display: block;
					width: 8px;
					height: 100%;
					background: #fff;
					position: absolute;
					right: -4px;
					top: 0;
					z-index: 9;
				}
			}
		}

		&+tr {

			&,
			th,
			td {
				border-top: none;

			}
		}
	}
}


.in-text-flex-on-desktop {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;

	&+* {
		margin-top: 35px;
	}

	&__left,
	&__right {}

	&__left {
		width: 300px;

		&>*+* {
			margin-top: 15px;

			@media screen and (max-width:$mob) {}
		}


	}

	&__right {
		width: calc(100% - 300px - 40px);

		img {
			width: auto;
			max-width: 100%;
			height: auto;
		}

	}
}


.after-table-text {
	margin-top: 37px;

	p {
		color: #979797;
		font-size: 11px;
		font-weight: 400;
		line-height: 136.523%;

		@media screen and (max-width:$mob) {
			font-size: 11px;
			line-height: 136.523%;
		}

		&+p {
			margin-top: 13px;

			@media screen and (max-width:$mob) {
				margin-top: 15px;
			}
		}
	}

	&+* {
		margin-top: 77px !important;

		@media screen and (max-width:$mob) {
			margin-top: 50px !important;
		}

	}
}

.digits-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -22px;
	margin-left: -22px;
	margin-top: 74px;

	@media screen and (max-width:780px) {
		margin-top: 34px;
	}

}

.digits-block {
	width: calc(35.33% - 22px);
	background: #D1D7DB;
	padding: 32px 20px 36px 37px;
	margin-bottom: 22px;
	margin-left: 22px;

	@media screen and (max-width:780px) {
		width: 100%;
		padding: 50px 20px 48px 45px;
	}

	@media screen and (max-width:370px) {
		padding: 50px 20px 48px;
	}


	&__title {
		font-size: 12.954px;
		line-height: 136.523%;

		@media screen and (max-width:780px) {
			font-size: 20.525px;
			line-height: 136.523%;
		}

		@media screen and (max-width:355px) {
			font-size: 18px;
		}
	}

	&__parts {
		display: flex;
		margin-top: 8px;

		@media screen and (max-width:780px) {
			flex-wrap: wrap;
			margin-left: -30px;
			margin-bottom: -44px;
			margin-top: 13px;
		}
	}

	&--2-of-3 {
		width: calc(64.599% - 22px);

		@media screen and (max-width:780px) {
			width: 100%;
		}
	}

	&--grey {
		background: #F5EDDF;
	}
}

.digits-block-part {
	display: flex;
	align-items: flex-end;

	@media screen and (max-width:780px) {
		margin-left: 30px;
		margin-bottom: 44px;
	}

	&__val {
		font-size: 83.175px;
		font-weight: 600;
		line-height: 1;
		font-family: 'Ristretto Slab Pro', sans-serif;

		@media screen and (max-width:780px) {

			font-size: 131.789px;
			line-height: 1;

		}

		@media screen and (max-width:355px) {
			font-size: 100px;
		}
	}

	&__dimension {
		margin-left: 6px;
		font-size: 12.954px;
		line-height: 136.523%;
		margin-bottom: 8px;

		@media screen and (max-width:780px) {

			margin-left: 8px;
			margin-bottom: 13px;
			font-size: 20.525px;
		}

		@media screen and (max-width:355px) {
			font-size: 18px;
		}
	}

	&+.digits-block-part {
		margin-left: 30px;

		@media screen and (max-width:780px) {}
	}
}


.page-top-pic {
	position: relative;
	display: block;
	width: 100%;

	@media screen and (max-width:$mob) {
		margin-top: 38px;
	}

	&::before {
		content: '';
		display: block;
		padding-top: 39.457%;

		@media screen and (max-width:$mob) {
			padding-top: 51.219%;
		}
	}

	img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}