doctype html

block vars
include ../components/_mixins

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(property="og:image" content="images/logo.svg")
		meta(name="format-detection" content="telephone=no")
		link(href="css/main.css" rel="stylesheet")


		| <title>Селигдар | Годовой отчет 2022</title>
		| <meta name="description" content="Годовой отчет 2022">
		| <meta property="og:type" content="website">
		| <meta property="og:locale" content="ru_RU">
		| <meta property="og:title" content="Селигдар | Годовой отчет 2022">
		| <meta property="og:description" content="Годовой отчет 2022">
		| <meta property="og:image" content="Share_seligdar.jpg">
		| <meta name="twitter:card" content="summary_large_image">
		| <meta name="twitter:title" content="Селигдар | Годовой отчет 20222">
		| <meta name="twitter:description" content="Годовой отчет 2022">
		| <meta name="twitter:image" content="Share_seligdar.jpg">
		| <link rel="icon" href="/favicon.ico" type="/img/favicon/x-icon" />
		| <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		| <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		| <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		| <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png"/>
		| <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/logo-sign-57.png"/>
		| <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/logo-sign-72.png"/>
		| <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/logo-sign-114.png"/>
		| <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/logo-sign-144.png"/>
 

	body
		block header
			include ../partials/_header

		main.main
			.animated-bg
				.animated-bg__inner
					.animated-bg__art.animated-bg__art--1
					img.animated-bg__art.animated-bg__art--2.animated-bg__art--desktop(src="img/anim/part_2.svg", alt="")
					img.animated-bg__art.animated-bg__art--3.animated-bg__art--desktop(src="img/anim/part_3.svg", alt="")
					img.animated-bg__art.animated-bg__art--4.animated-bg__art--desktop(src="img/anim/part_4.svg", alt="")
					img.animated-bg__art.animated-bg__art--5.animated-bg__art--desktop(src="img/anim/part_5.svg", alt="")
					img.animated-bg__art.animated-bg__art--6.animated-bg__art--desktop(src="img/anim/part_7_22.svg", alt="")
					img.animated-bg__art.animated-bg__art--7.animated-bg__art--desktop(src="img/anim/part_6_20.svg", alt="")
					img.animated-bg__art.animated-bg__art--2.animated-bg__art--mob(src="img/anim/part_2m.svg", alt="")
					img.animated-bg__art.animated-bg__art--3.animated-bg__art--mob(src="img/anim/part_3m.svg", alt="")
					img.animated-bg__art.animated-bg__art--4.animated-bg__art--mob(src="img/anim/part_4m.svg", alt="")
					img.animated-bg__art.animated-bg__art--5.animated-bg__art--mob(src="img/anim/part_5m.svg", alt="")
					img.animated-bg__art.animated-bg__art--6.animated-bg__art--mob(src="img/anim/part_7_22.svg", alt="")
					img.animated-bg__art.animated-bg__art--7.animated-bg__art--mob(src="img/anim/part_6_20.svg", alt="")
					.animated-bg__text-container
						h1.animated-bg__text-1 Своевременные<br> решения
						h2.animated-bg__text-2 Годовой отчет

			.main-content
				.main-content__flex
					.sidebar
						.sidebar__content
							a.sb-top.js-change-page(href="index.html") 
								img.sb-top__logo(src="img/logo_sg.svg", alt="")
								.sh-burger
									span
							.sb-main
								.sb-main__inner.js-sidebar-scroll
									.sb-main__inner-2
									nav.sb-menu
										.sb-accordion.js-sb-accordion.sb-accordion--active
											.sb-accordion-top
												.sb-accordion-title Цифры и факты
											.sb-accordion-main(style="display:block;")
												.sb-accordion-main__inner
													ul.sb-menu-list
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="index.html")  Результаты за 2022 год
															//href="/digits-2022.html"
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="obrashenie-prezidenta-pao-seligdar.html")  Обращение Президента ПАО «Селигдар»
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="obrashenie-predsedatelya-soveta-direktorov-pao-seligdar.html")  Обращение Председателя Совета директоров ПАО «Селигдар»
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="obrashenie-generalnogo-direktora-pao-seligdar.html")  Обращение Генерального директора ПАО «Селигдар»

										.sb-accordion.js-sb-accordion
											.sb-accordion-top
												.sb-accordion-title О компании
											.sb-accordion-main
												.sb-accordion-main__inner
													ul.sb-menu-list
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="obzor-pao-seligdar.html")  Кратко о компании
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="geografiya-deyatelnosti-i-klyuchevye-aktivy.html")  География деятельности и ключевые активы
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="biznes-model.html")  Бизнес-модель

										.sb-accordion.js-sb-accordion
											.sb-accordion-top
												.sb-accordion-title Стратегический отчет
											.sb-accordion-main
												.sb-accordion-main__inner
													ul.sb-menu-list
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="strategiya-ustojchivogo-razvitiya.html")   Стратегия устойчивого развития
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="otchet-soveta-direktorov-ob-ispolnenii-strategii-ustojchivogo-razvitiya.html")   Отчет Совета директоров об исполнении Стратегии устойчивого развития
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="proekty-razvitiya.html")   Проекты развития
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="polozhenie-v-otrasli.html")   Положение в отрасли
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="mineralno-syrevaya-baza.html")   Минерально-сырьевая база
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="operacionnye-rezultaty.html")   Операционные результаты
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="zakupochnaya-deyatelnost.html")   Закупочная деятельность
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="finansovye-rezultaty.html")   Финансовые результаты
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="sistema-upravleniya-riskami.html")   Система управления рисками

										.sb-accordion.js-sb-accordion
											.sb-accordion-top
												.sb-accordion-title Устойчивое развитие
											.sb-accordion-main
												.sb-accordion-main__inner
													ul.sb-menu-list
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="podhod-k-voprosam-ustojchivogo-razvitiya.html")   Подход к вопросам устойчивого развития
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="delovaya-etika-i-prava-cheloveka.html")   Деловая этика и права человека
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="nashi-sotrudniki.html")   Наши сотрудники
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="ohrana-truda-i-promyshlennaya-bezopasnost.html")   Условия труда и охрана здоровья
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="podderzhka-mestnyh-soobshestv-i-blagotvoritelnost.html")   Поддержка местных сообществ и благотворительность
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="innovacii-i-avtomatizaciya.html")   Инновации и автоматизация
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="izmenenie-klimata-i-energoeffektivnost.html")   Изменение климата и энергоэффективность
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="ohrana-okruzhayushej-sredy-i-ekologicheskaya-otvetstvennost.html")   Охрана окружающей среды и экологическая ответственность

										.sb-accordion.js-sb-accordion
											.sb-accordion-top
												.sb-accordion-title Корпоративное управление
											.sb-accordion-main
												.sb-accordion-main__inner
													ul.sb-menu-list
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="sistema-korporativnogo-upravleniya.html")   Система корпоративного управления
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="razvitie-i-sovershenstvovanie-praktiki-korporativnogo-upravleniya.html")   Развитие и совершенствование практики корпоративного управления
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="obshee-sobranie-akcionerov.html")   Общее собрание акционеров
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="sovet-direktorov.html")   Совет директоров
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="prezident-pao-seligdar.html")   Президент ПАО «Селигдар»
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="ispolnitelnye-organy-upravleniya.html")   Исполнительные органы управления
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="audit-i-kontrol.html")   Аудит и контроль
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="sistema-komplaens.html")   Система комплаенс

										.sb-accordion.js-sb-accordion
											.sb-accordion-top
												.sb-accordion-title Акционерный капитал
											.sb-accordion-main
												.sb-accordion-main__inner
													ul.sb-menu-list
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="cennye-bumagi-i-struktura-akcionernogo-kapitala.html")   Ценные бумаги и структура акционерного капитала
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="dividendnaya-politika.html")   Дивидендная политика
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="rynok-akcij-i-kapitalizaciya.html")   Рынок акций и капитализация
														li.sb-menu-list-item
															a.sb-menu-list-item__link.js-change-page(href="vzaimodejstvie-s-investorami-i-akcionerami.html")   Взаимодействие с инвесторами и акционерами

										.sb-accordion
											a.sb-accordion-top.sb-accordion-top--link.js-change-page(href="kontaktnaya-informaciya.html")
												.sb-accordion-title Контактная информация

							.sb-bottom
								.sb-bottom__info Годовой отчет 2022
								a.sb-bottom__pdf(href="https://seligdar.ru/upload/investors/results-and-reports/Seligdar_2022_Annual_Report_rus.pdf" target="_blank")
									img(src="img/pdf.svg", alt="icon")

					.main-block
						.main-block__inner.js-main-block-scroll

							block main

		block footer
			include ../partials/_footer

		block modals


		script(src="js/main.js")

		block scripts
